h2(style="margin-top: 0; margin-bottom: 20px;") Feel Free to Contact Me
form.col-md-12#contact(method="post" action="/contact")
  .row
    .col-lg-4.col-md-4.col-sm-4.col-xs-4.col-lg-offset-2.col-md-offset-2.col-sm-offset-2.col-xs-offset-2
      input.form-control#name(type="text" name="name" placeholder="Name")
    .col-lg-4.col-md-4.col-sm-4.col-xs-4
      input.form-control#email(type="email" name="email" placeholder="Email")
  .clear &nbsp
  .row
    .col-lg-8.col-md-8.col-sm-8.col-xs-8.col-lg-offset-2.col-md-offset-2.col-sm-offset-2.col-xs-offset-2
      input.form-control#subject(type="text" name="subject" placeholder="Subject")
  .clear &nbsp
  .row
    .col-lg-8.col-md-8.col-sm-8.col-xs-8.col-lg-offset-2.col-md-offset-2.col-sm-offset-2.col-xs-offset-2
      textarea#message(name="message" placeholder="Message" rows="6" style="width: 100%;")
  .clear &nbsp
  .row
    .col-lg-8.col-md-8.col-sm-8.col-xs-8.col-lg-offset-2.col-md-offset-2.col-sm-offset-2.col-xs-offset-2
      input.btn.btn-primary#send-mail(type="submit" name="submit" value="Send Mail" style="width: 100%;")
  span#message