.menu
    nav.navbar.navbar-default#menu(role="navigation")
      .navbar-header
        button.navbar-toggle(type="button" data-target="#navbarCollapse" data-toggle="collapse")
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        a.navbar-brand(href="#") Welcome
      #navbarCollapse.collapse.navbar-collapse    
        ul.nav.navbar-nav
          li(class=(menu === 'index')?'active':'')
            a(href='/') <span class="glyphicon glyphicon-home"></span> Home
          li(class=(menu === 'profile')?'active':'')
            a(href="/profile") <span class="glyphicon glyphicon-user"></span> Profile
          li(class=(menu === 'blog')?'active':'')
            a(href="/blog") <span class="glyphicon glyphicon-book"></span> Blog
          li.dropdown(class=(menu === 'blog')?'active':'')
            a.dropdown-toggle(data-toggle="dropdown" href="/blog") <span class="caret"></span>
            ul.dropdown-menu
              li
                a(href="/uva-online-judge") UVa Online Judge
          li(class=(menu === 'webapps')?'active':'')
            a(href="/webapps") <span class="glyphicon glyphicon-tasks"></span> Webapps 
          li.dropdown(class=(menu === 'webapps')?'active':'')
            a.dropdown-toggle(data-toggle="dropdown" href="/webapps") <span class="caret"></span>
            ul.dropdown-menu
              li
                a(href="/jigsaw-puzzle") Jigsaw Puzzle
              li
                a(href="/dashboard") Dashboard
          li
            a(href="/portfolio") <span class="glyphicon glyphicon-briefcase"></span> Portfolio
          li(class=(menu === 'gallery')?'active':'')
            a(href='/gallery') <span class="glyphicon glyphicon-picture"></span> Gallery
          li
            a(href='#')