.shareBox.btn-group(style="margin: 0 auto;")
    a.btn.btn-primary.btn-social-icon.btn-facebook(href="#", type="facebook")
      i.fa.fa-facebook
    a.btn.btn-primary.btn-social-icon.btn-twitter(href="#", type="twitter")
      i.fa.fa-twitter
    a.btn.btn-primary.btn-social-icon.btn-linkedin(href="#", type="linkedin")
      i.fa.fa-linkedin
    a.btn.btn-primary.btn-social-icon.btn-google-plus(href="#", type="google-plus")
      i.fa.fa-google-plus