html {
	min-width: 1300px;
}

@font-face {
    font-family:"Akashi";
    src:url("/fonts/akashi.eot?") format("eot"),
        url("/fonts/akashi.woff") format("woff"),
        url("/fonts/akashi.ttf") format("truetype"),
        url("/fonts/akashi.svg#Akashi") format("svg");
        font-weight:normal;
        font-style:normal;
}

body, html {
	font-family:"Akashi";
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-color: #000000;
}

h2 {
	margin-top: 0;
}

.loading {
	background: url('/img/ico_loading.gif') no-repeat center center;
}
section {
	min-width: 1366px;
	overflow-x: hidden;
	opacity: 0;
}
.loaded section {
	opacity: 1;
	-webkit-transition: opacity 1s ease-out;
	-moz-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
}
main {
	overflow-x: hidden;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.hsContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 450px;
	position: relative;
	margin: -150px auto 0 auto;
	display: table-cell;
	vertical-align: middle;
	color: #ebebeb;
	padding: 0 8%;
	text-align: center;
	z-index: 999;
}
	.hsContent h2,
	.copy h2 {
		color: #ffffff;
		font-size: 45px;
		line-height: 48px;
		margin-bottom: 12px;
	}
	.hsContent p, .copy p {
		width: 400px;
		margin: 0 auto;
		color: #b2b2b2;
	}
	
	 
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}
	
		.bgBlack {
		background-color: rgba(0,0,0,0.75);
		padding: 3px 10px;
	}


/* Slide 1 */
#slide-1 .bcg {
	background-image: url('/img/101692.jpg');
    background-size: cover;
}

#slide-2 .bcg {
    background-image:url('/img/528568.jpg');
    background-color: #010101;
    height: 626px;
    text-align: center;
}

#slide-3 .bcg {background-image:url('/img/the_sun__2_1920x1080.jpg');}

/* Slide 4 */
.curtainContainer {
    width: 100%; height: 100%;
    position: relative;
    	display: table;
	table-layout: fixed;
	overflow: hidden;
}
.curtainContainer .curtain {
    width: 300%; height: 1px;
    background-color: #000000;
    position: absolute; top: 25%; left: 0;
    opacity: 0;
}
.curtainContainer .copy {
    position: absolute;
    bottom: 70%; left: 0;
    width: 100%; text-align: center; 
}
#slide-4 .bcg {background-image:url('/img/DeathStar_EN-GB10521287373_1366x768.jpg');}





#slide-5 {position: relative;}
#slide-5 .bcg {background-image:url('/img/523425.jpg');}
#slide-5 .bcg2 {background-image:url('/img/229465.jpg'); position: fixed; bottom: 0; left: 0; opacity: 0; z-index: 1;}
#slide-5 .bcg3 {background-image:url('/img/86839.jpg'); background-color: #010101; position: fixed; bottom: 0; left: 0; opacity: 0; z-index: 1000;}


.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

			h1 {
				height: 100%;
				/* The html and body elements cannot have any padding or margin. */
				margin: 0;
				font-size: 14px;
				color: #1c1d1e;
				font-size: 32px;
				margin-bottom: 3px;
			}
			h2 {
				color: #1c1d1e;
				font-weight: normal;
			}