html {
	min-width: 1300px;
}

#wrap {
	width: 100%;
    overflow: hidden;
    z-index: 1;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0 auto;
}

#menu {
	margin-right: auto;
	margin-left: auto;
	z-index: 1000;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.glyphicon-scroll-down {
	font-size: 50px;
}

.glyphicon-timeline  {
	font-size: 30px;
}

#background-new-york {
    height: 800px; 
    width: 100%; 
    background-image: url(/img/background-new-york.jpg); 
    background-repeat: no-repeat;
    position: relative;
}

#background-spread-our-wings {
    height: 100%; 
    width: 100%; 
    background-image: url(/img/background-spread-our-wings.png); 
    background-repeat: no-repeat; 
    position: absolute; 
    left: 200px; 
    top: 60px;
}

#background-birds { 
	height: 100%; 
	width: 100%; 
	background-image: url(/img/background-birds.png); 
	background-repeat: no-repeat; 
	z-index: 2; 
	position: absolute; 
	left: -80px; 
	top: 450px; 
}

#background-cloud { 
	height: 100%; 
	width: 100%; 
	background-image: url(/img/background-cloud.png); 
	background-repeat: no-repeat; 
	z-index: 4; 
	position: absolute; 
	left: 400px; 
	top: 400px; 
}

#background-fog { 
	height: 100%; 
	width: 100%; 
	background-image: url(/img/background-fog.png); 
	background-repeat: no-repeat; 
	z-index: 3; 
	position: absolute; 
	left: 0px; 
	top: 300px; 
}

@-webkit-keyframes fieldMove {
  0% { background-position: 0 0; }
  100% { background-position: 200% 0; }
}

@-moz-keyframes fieldMove {
  0%   { background-position: 0% 0%; }
  100% { background-position: 200% 0%; }
}

@keyframes fieldMove {
  0%   { background-position: 0% 0%; }
  100% { background-position: 200% 0%; }
}

@-o-keyframes fieldMove {
  0%   { background-position: 0% 0%; }
  100% { background-position: 200% 0%; }
}

#background-dandelion-field {
    height: 710px;
    background-image: url(/img/background-dandelion-field.jpg); 
    background-repeat: repeat-x; 
    position: relative;
    -webkit-animation: fieldMove 72s linear infinite;
       -moz-animation: fieldMove 72s linear infinite;
        -ms-animation: fieldMove 72s linear infinite;
         -o-animation: fieldMove 72s linear infinite;
}

#background-blowing-dandelion {
    height: 100%; 
    width: 100%; 
    background-image: url(/img/background-blowing-dandelion.png);
    position: absolute; 
    left: -40px; 
    top: 30px;
}

@-webkit-keyframes stemBlow {
  0%{}
  7% { 
    -webkit-transform: rotate(3deg);
  }
  25% {
    -webkit-transform: rotate(-3deg);
  }
  35% {
    -webkit-transform: rotate(2deg);
  }
  45% { 
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes stemBlow {
  0%{}
  7% { 
    -moz-transform: rotate(3deg);
  }
  25% {
    -moz-transform: rotate(-3deg);
  }
  35% {
    -moz-transform: rotate(2deg);
  }
  45% { 
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}

@-o-keyframes stemBlow {
  0%{}
  7% { 
    -o-transform: rotate(3deg);
  }
  25% {
    -o-transform: rotate(-3deg);
  }
  35% {
    -o-transform: rotate(2deg);
  }
  45% { 
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(0deg);
  }
}

@keyframes stemBlow {
  0%{}
  7% { 
    transform: rotate(3deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  35% {
    transform: rotate(2deg);
  }
  45% { 
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#background-dandelion { 
	height: 100%; 
	width: 100%;
	left: -120px;
	top: 60px;
	background-image: url(/img/background-dandelion.png); 
	background-repeat: no-repeat;
	position: absolute; 
    z-index: 6; 
    -webkit-transform-origin: 0% 100%;
    -webkit-animation: stemBlow 16s forwards ease-in 0s infinite;
    -moz-transform-origin: 0% 100%;
    -moz-animation: stemBlow 16s forwards ease-in 0s infinite;
    -ms-transform-origin: 0% 100%;
    -ms-animation: stemBlow 16s forwards ease-in 0s infinite;
    -o-transform-origin: 0% 100%;
    -o-animation: stemBlow 16s forwards ease-in 0s infinite;
    transform-origin: 0% 100%;
    animation: stemBlow 16s forwards ease-in 0s infinite;
}

@-webkit-keyframes seedsFloat {
   0% { -webkit-transform-origin: 50% 100%; -webkit-animation-timing-function: ease-in;} 
   7% { -webkit-transform: translate3d(0, 10px, 0) rotate(15deg);}
   100% { -webkit-transform: scale3d(4,4,4) rotate(170deg) translate3d(-330px, 10px, 0); }
}

@-moz-keyframes seedsFloat {
   0% { -moz-transform-origin: 50% 100%; -moz-animation-timing-function: ease-in;} 
   7% { -moz-transform: translate3d(0, 10px, 0) rotate(15deg);}
   100% { -moz-transform: scale3d(4,4,4) rotate(170deg) translate3d(-330px, 10px, 0); }
}

@keyframes seedsFloat {
   0% { transform-origin: 50% 100%; animation-timing-function: ease-in;} 
   7% { transform: translate3d(0, 10px, 0) rotate(15deg);}
   100% { transform: scale3d(4,4,4) rotate(170deg) translate3d(-330px, 10px, 0); }
}

@-o-keyframes seedsFloat {
   0% { -o-transform-origin: 50% 100%; -o-animation-timing-function: ease-in;} 
   7% { -o-transform: translate3d(0, 10px, 0) rotate(15deg);}
   100% { -o-transform: scale3d(4,4,4) rotate(170deg) translate3d(-330px, 10px, 0); }
}

#background-dandelion-seeds {
	height: 100%; 
	width: 100%;
	background-image: url(/img/background-dandelion-seeds.png); 
	background-repeat: repeat-x;
	left: -380px;
	top: 480px;
	position: absolute; 
    z-index: 2;
    
    -webkit-animation: seedsFloat 16s forwards ease-in 0s infinite;
       -moz-animation: seedsFloat 16s forwards ease-in 0s infinite;
        -ms-animation: seedsFloat 16s forwards ease-in 0s infinite;
         -o-animation: seedsFloat 16s forwards ease-in 0s infinite;
}

#background-cycler {
	position: relative;
	height: 710px;
	width: 100%;
	overflow: hidden;
	background-size: 100%;
	background-repeat: no-repeat;
}

#background-stay-hungry {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 40px;
    left: 40px;
    background-image: url(/img/background-stay-hungry.png);
    background-repeat: no-repeat;
    z-index: 8;
}

.img-cycled {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
    left: 0;
    background-size: 100%;
    background-repeat: no-repeat;
}

#slide-area {
    min-height: 600px; 
}

#slide-left-top {
	text-align: center;
    color: #000000;
    left: -2000px;
    z-index: 2;
}

#slide-right-top {
	text-align: center;
    color: #000000;
    right: -2000px;
    z-index: 2;
}

#slide-right-mid {
	text-align: center;
	color: #000000;
    right: -2000px;
    z-index: 2;
}

#slide-left-mid {
	text-align: center;
    color: #000000;
    left: -2000px;
    z-index: 2;
}

#slide-right-bottom {
	text-align: center;
    color: #000000;
    right: -2000px;
    z-index: 2;
}

.timeline-container {
	border: 1px solid #cccccc;
	border-left: 0;
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 500px;
	background-image: url(/img/background-timeline.jpg);
	background-repeat: no-repeat;
	background-position-y: -30px;
	font-family: Verdana, Geneva, sans-serif;
	color: #000000;
	font-weight: bold;
}

#timeline {
	border-left: 1px #cccccc;
	width: 1000000002px;
	position: absolute;
}

.year {
	border-left: 1px solid #cccccc;
	float: left;
	height: 400px;
	width: 200px;
	text-align: center;
	font-size: 20px;
}

.year div {
	margin-top: 20px;
}
			
#window {
    border: 1px solid #6b632f;
	height: 398px;
	left: 0;
	position: absolute;
	cursor: pointer;
	top: 0;
	width: 201px;
	z-index: 300;
}
			
.close {
	display: none;
	position: absolute; 
	right: 5px; 
	text-decoration: underline;
	top: 5px; 
}

.link {
	bottom: 20px; 
	position: absolute; 
	text-align: center; 
	width: 100%;
}
			
.overlay {
	background-color: #2b2b2b;
	height: 400px;
	opacity: 0.5;
	position: absolute;
	z-index: 100;
}

#leftOverlay {
	left: 0;
}

#rightOverlay {
	right: 0;
	width: 800px;
}
			
#yearEvents ol li {
	margin-top: 28px;
	margin-left: 20px;
	font-size: 16px;
	line-height: 0px;
}

#slider {
	margin: 0 auto;
	width: 800px;
}

#sliderVal {
	width: 100%; 
	display: block; 
	text-align: center;
	font-weight:bold;
}
			
.clear {
    clear:both;
}

footer {
	margin-top: -20px;
	background-color: rgba(0,0,0,0.05);
}


.carousel-inner .item {
	background: #ffffff;
    text-align: center;
}

.carousel#myCarousel {
	width: 480px;
    height: 360px;
    border-radius: 3px;
	border: 8px solid #fff;
	margin: 6px;
	-moz-box-shadow: 0 0 3px 3px #ebebeb;
    -webkit-box-shadow: 0 0 3px 3px #ebebeb;
    box-shadow: 0 0 3px 3px #ebebeb;
	float: left;
}

.carousel#myCarousel .carousel-indicators li {
	margin: 10px;
}

.item .carousel-caption {
	margin-bottom: 20px;
}

#gallery .img-thumb {
	border-radius: 3px;
	border: 8px solid #fff;
	margin: 6px;
	-moz-box-shadow: 0 0 3px 3px #ebebeb;
    -webkit-box-shadow: 0 0 3px 3px #ebebeb;
    box-shadow: 0 0 3px 3px #ebebeb;
	float: left;
	cursor: zoom-in;
}

#jigsaw-puzzle {
	float: left;
	margin: 0 auto;
    width: 100%;
}
			
#pieceBox {
	border: 1px solid #cccccc;
	float: left;
	width: 402px;
	height: 502px;
	margin: 10px auto 0px 50px;
	position: relative;
}
			
#puzzleContainer {
	border: 1px solid #cccccc;
	float: right;
	width: 402px;
	height: 502px;
	margin: 10px 50px 0px auto;
}
			
.jigsaw-puzzle-img {
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
	float: left;
	border: 1px solid #000;
}

.jigsaw-puzzle-buttons {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	margin-top: 10px;
}
			
#jigsaw-puzzle-message {
	clear: both;
	display: none; 
	font-size: 20px;
	width: 100%;
	padding: 20px 0px;
    text-align: center;
}
			

#jigsaw-puzzle-start {
	border: 1px solid #cccccc;
	font-weight: bold;
	width: 175px;
    margin: 0 auto 10px auto;
	padding: 10px 0;
	text-align: center;
	display: inline-block;
}
			
#jigsaw-puzzle-reset {
	border: 1px solid #cccccc;
	font-weight: bold;
	width: 175px;
    margin: 0 auto 10px auto;
	padding: 10px 0;
	text-align: center;
	display: none;
}

.jigsaw-puzzle-img-thumb {
	border-radius: 3px;
	border: 8px solid #fff;
	margin: 6px;
	-moz-box-shadow: 0 0 3px 3px #ebebeb;
    -webkit-box-shadow: 0 0 3px 3px #ebebeb;
    box-shadow: 0 0 3px 3px #ebebeb;
	float: left;
	cursor: pointer;
	width: 200px; 
	height: 250px;
}

.dashboard-column {
	width: 500px;
	float: left;
}

.portlet {
	margin: 0 1em 1em 0;
	padding: 0.5em;
}

.portlet-header {
	padding: 0.2em 0.3em;
	margin-bottom: 0.5em;
	position: relative;
}

.portlet-toggle {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -8px;
	cursor: pointer;
}
		
.portlet-content#dashboard-lower, #dashboard-reddit {
	height: 500px;
	overflow-y: scroll;
	padding: 0.4em;	
}

.portlet-content#dashboard-upper {
	height: 250px;
	overflow-y: scroll;
	padding: 0.4em;	
}

.portlet-placeholder {
	border: 1px dotted black;
	margin: 0 1em 1em 0;
	height: 250px;
}

#selCity {
	color: #000000;
}
		
#weatherInfo ul, #dashboard-flickrPics {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

.dashboard-flickrPics li {
	height: 100px;
	overflow: hidden;
	padding: 5px 0;
}

.dashboard-flickrPics li img {
	float: left;
	margin-right: 5px;
	max-height: 100px;
}

#dashboard-reddit ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

#dashboard-reddit li , #weatherInfo li {
	padding: 5px 0;
	min-height:20px;
}
		
#dashboard-reddit li span {
	text-decoration: underline;
}

#dashboard-reddit a {
	text-decoration: none;
}
		
#dashboard-reddit a.comments {
	text-decoration: underline;
}
		
#dashboard-clock { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 5em;
	color: white;
	background-color: black;
	border: 2px solid purple;
	padding: 4px;
}