html {
	min-width: 1300px;
}

@font-face {
    font-family:"Akashi";
    src:url("/fonts/akashi.eot?") format("eot"),
        url("/fonts/akashi.woff") format("woff"),
        url("/fonts/akashi.ttf") format("truetype"),
        url("/fonts/akashi.svg#Akashi") format("svg");
        font-weight:normal;
        font-style:normal;
}

body {
		color: #fff;
		font-family:"Akashi";
		font-size: 15pt;
		font-weight: 400;
		letter-spacing: 0.075em;
		line-height: 1.65em;
	}

#wrapper {
	width: 100%;
	overflow: hidden;
}

		p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #000000;
		font-weight: 800;
		letter-spacing: 0.225em;
		line-height: 1em;
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.35em;
		line-height: 1.75em;
	}


	h3 {
		font-size: 1.15em;
		line-height: 1.75em;
	}

/* navbar */
.navbar-default {
    background-color: #F8F8F8;
    border-color: transparent;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}

/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

header {
		margin-bottom: 1em;
	}

		header p {
			display: block;
			margin: 1em 0 0 0;
			padding: 0 0 0.5em 0;
		}

.tab-panel.active {
    display: block;
}


.tab-panel {
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.tabs .tab-list li {
    font-family:"Akashi";
    text-transform: uppercase;
}

.tabs .tab-list li.active, .tab-list li.hover {
  background-color: #e5e5e5;
}

#background-cycler, #tab-panel-left, #myCarousel{
    height: 600px;
	position: relative;
	background-size: 100%;
	background-repeat: no-repeat;
}

.img-cycled {
	position: absolute;
	height: 360px;
	width: 720px;
	top: -250px;
    left: 770px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.caption {
    height: 602px;
    font-size: 18px;
    background-image: url(/img/06.jpg);
    background-size: 100%;
}

.activeContent {
	font-weight: bold;
	border: 3px solid #cc2929;
	color: #cc2929;
}

		.box {
			background: #fff;
			color: #39454b;
			padding: 2em;
		}

			.box.style2 {
				padding: 3.5em 2.5em 3.5em 2.5em;
			}




	/* Box */

		.box {
			background: #fff;
			color: #39454b;
			padding: 2em;
		}

			.box.style2 {
				padding: 3.5em 2.5em 3.5em 2.5em;
			}

.dark {
			color: #fff;
		}

			.dark a {
				color: #fff;
			}

			.dark .button.style2 {
				border-color: inherit;
				background-color: rgba(64,64,64,0.05);
			}

				.dark .button.style2:hover {
					background-color: rgba(255,255,255,0.1);
				}



#one {
		background: url(/img/overlay.png), url(/img/evolution-paradise.jpg);
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
		height: 100vh;
	}


	#two {
		background: url(/img/overlay.png), url(/img/168031.jpg);
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
		height: 100vh;
	}

	#thr {
		background: url(/img/overlay.png), url(/img/43550.jpg);
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
		height: 100vh;
	}

	.main {
			position: relative;
			margin: 0;
			overflow-x: hidden;
		}

			.main.fullscreen {
				height: 100%;
			}

	.main.style2 {
				padding: 3em 0 3em 0;
				overflow: hidden;
			}

				.main.style2 .content {
					position: relative;
					width: 45%;
					display: inline-block;
					vertical-align: middle;

				}


					.main.style2.left:after {
						content: '';
						display: inline-block;
						vertical-align: middle;
						height: 100%;
					}

					.main.style2.left .content {
						left: 0;
					}


					.main.style2.right:before {
						content: '';
						display: inline-block;
						vertical-align: middle;
						height: 100%;
					}

					.main.style2.right .content {
						left: 55%;
					}

						.main.style2.inactive.left .content {
							left: -45%;
						}

						.main.style2.inactive.right .content {
							left: 100%;
						}
						.button.style2.down.anchored {
							   position: absolute;
    bottom: 0;
    						}


    						.panel-group div {
    font-family:"Akashi";
}

.panel-body {
    height: 300px; text-align: center; position: relative; overflow: hidden;
}

.portfolio {
    height: 300px; position:absolute; top: 0; left: 0; width: 100%;
}

.portfolio-img {
    position:absolute; top: 0; left: 0;
}
.portfolio-title {
    height: 40px; width: 100%; top:300px; left: 0px; border: 1px solid #cccccc; position:absolute; background-color: #ffffff;
    font-family:"Akashi"; font-size: 20px; padding-top: 4px; color: #000000;
}

.ui-tooltip-content
{
    font-size: 15px;
    line-height: 1.2em;
    font-family: Verdana,Geneva,sans-serif;
}