html {
	min-width: 1300px;
}

@font-face {
	font-family: "Michroma";
	src: url("/fonts/Michroma.eot?") format("eot")
	    ,url("/fonts/Michroma.woff") format("woff")
	    ,url("/fonts/Michroma.ttf") format("truetype")
	    ,url("/fonts/Michroma.svg#Michroma") format("svg");
	font-weight: normal;
	font-style: normal;
}

body {
    background: #2e3842;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/img/banner.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/img/banner.jpg");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/img/banner.jpg");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/img/banner.jpg");
	background-size: 110%;
	color: #fff;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.075em;
	line-height: 1.6em;
}
	
p {
	margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-weight: 800;
	letter-spacing: 0.225em;
	line-height: 1em;
	margin: 0 0 1em 0;
	text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

h2 {
	font-size: 1.35em;
	line-height: 1.75em;
}

h3 {
	font-size: 1.15em;
	line-height: 1.75em;
}

#header {
	-moz-transition: background-color 0.2s ease;
	-webkit-transition: background-color 0.2s ease;
	-ms-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
	background: #2e3842;
	height: 3em;
	left: 0;
	line-height: 3em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}

#header h1 {
	-moz-transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
	height: inherit;
	left: 1.25em;
	line-height: inherit;
	position: absolute;
	top: 0;
}

#header h1 a {
	border: 0;
	display: block;
	height: inherit;
	line-height: inherit;
	text-decoration: none;
}

#header h1 a:hover, #header h1 a:visited  {
    color: #ffffff;
}

#header nav {
	height: inherit;
	line-height: inherit;
	position: absolute;
	right: 0;
	top: 0;
}

#header nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

#header nav > ul > li {
	display: inline-block;
	padding: 0;
}

#header nav > ul > li > a {
	border: 0;
	color: #fff;
	display: block;
	font-size: 0.8em;
	letter-spacing: 0.225em;
	padding: 0 1.5em;
	text-transform: uppercase;
}

#header nav > ul > li > a.menuToggle {
	outline: 0;
	position: relative;
}

#header nav > ul > li > a.menuToggle:after {
	background-image: url("images/bars.svg");
	background-position: right center;
	background-repeat: no-repeat;
	content: '';
	display: inline-block;
	height: 3.75em;
	vertical-align: top;
	width: 2em;
}
							
#header nav > ul > li > a.menuToggle span {
	display: none;
}
						
#header nav > ul > li:first-child {
	margin-left: 0;
}

#header.alt {
	background: transparent;
}

#header.alt h1 {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	opacity: 0;
}

#wrapper {
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	opacity: 1;
	padding-top: 3em;
}

#wrapper:before {
	background: transparent;
	content: '';
	display: block;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10001;
}

#menu {
	-moz-transform: translateX(20em);
	-webkit-transform: translateX(20em);
	-ms-transform: translateX(20em);
	transform: translateX(20em);
	-moz-transition: -moz-transform 0.2s ease;
	-webkit-transition: -webkit-transform 0.2s ease;
	-ms-transition: -ms-transform 0.2s ease;
	transition: transform 0.2s ease;
	-webkit-overflow-scrolling: touch;
	background: #21b2a6;
	color: #ffffff;
	height: 100%;
	max-width: 80%;
	overflow-y: auto;
	padding: 3em 2em;
	position: fixed;
	right: 0;
	top: 0;
	width: 20em;
	z-index: 10002;
}

#menu ul {
	list-style: none;
	padding: 0;
}

#menu ul > li {
	border-top: solid 1px rgba(0, 0, 0, 0.125);
	margin: 0.5em 0 0 0;
	padding: 0.5em 0 0 0;
}

#menu ul > li:first-child {
	border-top: 0 !important;
	margin-top: 0 !important;
	padding-top: 0 !important;
}

#menu ul > li > a {
	border: 0;
	color: inherit;
	display: block;
	font-size: 0.8em;
	letter-spacing: 0.225em;
	outline: 0;
	text-decoration: none;
	text-transform: uppercase;
}

#menu .close {
	background-image: url("images/close.svg");
	background-position: 4.85em 1em;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;
	display: block;
	height: 3em;
	position: absolute;
	right: 0;
	top: 0;
	vertical-align: middle;
	width: 7em;
}

body.is-menu-visible #wrapper {
	opacity: 0.35;
}

body.is-menu-visible #wrapper:before {
	display: block;
}

body.is-menu-visible #menu {
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

#banner {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	cursor: default;
	height: 90vh;
	min-height: 20em;
	overflow: hidden;
	position: relative;
	text-align: center;
}
	
#banner h2 {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
	display: inline-block;
	font-size: 1.75em;
	opacity: 1;
	padding: 0.35em 1em;
	position: relative;
	z-index: 1;
}

#banner h2:before, #banner h2:after {
	-moz-transition: width 0.85s ease;
	-webkit-transition: width 0.85s ease;
	-ms-transition: width 0.85s ease;
	transition: width 0.85s ease;
	-moz-transition-delay: 0.25s;
	-webkit-transition-delay: 0.25s;
	-ms-transition-delay: 0.25s;
	transition-delay: 0.25s;
	background: #fff;
	content: '';
	display: block;
	height: 2px;
	position: absolute;
	width: 100%;
}

#banner h2:before {
	top: 0;
	left: 0;
}

#banner h2:after {
	bottom: 0;
	right: 0;
}

#banner p {
	letter-spacing: 0.225em;
	text-transform: uppercase;
}

#banner p a {
	color: inherit;
}

#banner .more {
	-moz-transition: -moz-transform 0.75s ease, opacity 0.75s ease;
	-webkit-transition: -webkit-transform 0.75s ease, opacity 0.75s ease;
	-ms-transition: -ms-transform 0.75s ease, opacity 0.75s ease;
	transition: transform 0.75s ease, opacity 0.75s ease;
	-moz-transition-delay: 3.5s;
	-webkit-transition-delay: 3.5s;
	-ms-transition-delay: 3.5s;
	transition-delay: 3.5s;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	border: none;
	bottom: 0;
	color: inherit;
	font-size: 0.8em;
	height: 8.5em;
	left: 50%;
	letter-spacing: 0.225em;
	margin-left: -8.5em;
	opacity: 1;
	outline: 0;
	padding-left: 0.225em;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 16em;
	z-index: 1;
}

#banner .more:after {
	bottom: 4em;
	content: '';
	display: block;
	height: 1.5em;
	left: 50%;
	margin: 0 0 0 -0.75em;
	position: absolute;
	width: 1.5em;
}

#banner:after {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transition: opacity 3s ease-in-out;
	-webkit-transition: opacity 3s ease-in-out;
	-ms-transition: opacity 3s ease-in-out;
	transition: opacity 3s ease-in-out;
	-moz-transition-delay: 1.25s;
	-webkit-transition-delay: 1.25s;
	-ms-transition-delay: 1.25s;
	transition-delay: 1.25s;
	content: '';
	background: #2e3842;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

#insect-1 {
    background-color: #2e3842;
}

.content a:hover, .content a:visited{
	text-decoration: none;
}

.spotlight {
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

.spotlight .image {
	-moz-order: 1;
	-webkit-order: 1;
    -ms-order: 1;
	order: 1;
	border-radius: 0;
	width: 40%;
}

.spotlight .image img {
	border-radius: 0;
	width: 100%;
}

.spotlight .content {
	padding: 2em 4em 0.1em 4em;
	-moz-order: 2;
	-webkit-order: 2;
	-ms-order: 2;
	order: 2;
	max-width: 48em;
	width: 60%;
}
		
.spotlight:nth-child(2n) {
	-moz-flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
		
.spotlight:nth-child(1) {
	background-color: rgba(0, 0, 0, 0.075);
}

.spotlight:nth-child(2) {
	background-color: rgba(0, 0, 0, 0.15);
}

.spotlight:nth-child(3) {
	background-color: rgba(0, 0, 0, 0.225);
}

.spotlight:nth-child(4) {
    background-color: rgba(0, 0, 0, 0.3);
}

.spotlight:nth-child(5) {
	background-color: rgba(0, 0, 0, 0.375);
}

.spotlight:nth-child(6) {
	background-color: rgba(0, 0, 0, 0.45);
}

.spotlight:nth-child(7) {
	background-color: rgba(0, 0, 0, 0.525);
}

.spotlight:nth-child(8) {
	background-color: rgba(0, 0, 0, 0.45);
}

.spotlight:nth-child(9) {
	background-color: rgba(0, 0, 0, 0.375);
}

.spotlight:nth-child(10) {
	background-color: rgba(0, 0, 0, 0.3);
}
	
.spotlight:nth-child(11) {
	background-color: rgba(0, 0, 0, 0.225);
}
		
.spotlight:nth-child(12) {
	background-color: rgba(0, 0, 0, 0.15);
}
		
#insect-2 {
    background-color: #505393;
	color: #d3d4e4;
    text-align: center;  
}
		
.features {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	list-style: none;
	padding: 0;
	width: 100%;
}

.features li {
	padding: 4em 4em 2em 6em;
	display: block;
	position: relative;
	text-align: left;
	width: 50%;
}

.features li:nth-child(1) {
	background-color: rgba(0, 0, 0, 0.035);
}

.features li:nth-child(2) {
	background-color: rgba(0, 0, 0, 0.07);
}

.features li:nth-child(3) {
	background-color: rgba(0, 0, 0, 0.105);
}

.features li:nth-child(4) {
	background-color: rgba(0, 0, 0, 0.14);
}

.features li:nth-child(5) {
	background-color: rgba(0, 0, 0, 0.175);
}

.features li:nth-child(6) {
	background-color: rgba(0, 0, 0, 0.21);
}

.features li:nth-child(7) {
	background-color: rgba(0, 0, 0, 0.245);
}

.features li:nth-child(8) {
	background-color: rgba(0, 0, 0, 0.28);
}

.features li:nth-child(9) {
	background-color: rgba(0, 0, 0, 0.315);
}

.features li:nth-child(10) {
	background-color: rgba(0, 0, 0, 0.35);
}

.features li:before {
	display: block;
	color: #00ffcc;
	position: absolute;
	left: 1.75em;
	top: 2.75em;
	font-size: 1.5em;
}

.features li:nth-child(1) {
	border-top-left-radius: 3px;
}

.features li:nth-child(2) {
	border-top-right-radius: 3px;
}

.features li:nth-last-child(1) {
	border-bottom-right-radius: 3px;
}

.features li:nth-last-child(2) {
	border-bottom-left-radius: 3px;
}
			
header.major {
	margin: 0 0 3.5em 0;
}

header.major h2, header.major h3, header.major h4, header.major h5, header.major h6 {
	border-bottom: solid 2px #fff;
	display: inline-block;
	padding-bottom: 1em;
	position: relative;
}

header.major h2:after, header.major h3:after, header.major h4:after, header.major h5:after, header.major h6:after {
	content: '';
	display: block;
	height: 1px;
}

header.major p {
	color: #fff;
	top: 0;
}

ul {
	list-style: disc;
	margin: 0 0 2em 0;
	padding-left: 1em;
}

ul li {
	padding-left: 0.5em;
}

.ui-tooltip-content
{
    font-size: 15px;
    line-height: 1.3em;
    font-family: "Open Sans", Helvetica, sans-serif;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

#portfolio-1 {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;    
    animation-fill-mode: both;
}

#portfolio-2 {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;    
    animation-fill-mode: both;
    animation-delay: 500ms;
}

#portfolio-3 {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;    
    animation-fill-mode: both;
    animation-delay: 1s;
}

#portfolio-4 {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;    
    animation-fill-mode: both;
    animation-delay: 1500ms;
}

#portfolio-5 {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;    
    animation-fill-mode: both;
    animation-delay: 2s;
}


#portfolio-6 {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;    
    animation-fill-mode: both;
    animation-delay: 2500ms;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

.panel-group div {
    font-family:"Michroma";
}

.panel-body {
    height: 300px; 
    text-align: center; 
    position: relative; 
    overflow: hidden;
}

.portfolio {
    height: 300px; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
}

.portfolio-img {
    position: absolute; 
    top: 0; 
    left: 0;
}
.portfolio-title {
    height: 40px; 
    width: 100%; 
    top: 300px; 
    left: 0px; 
    border: 1px solid #cccccc; 
    position: absolute; 
    background-color: #ffffff;
    font-family: "Michroma"; 
    font-size: 20px; 
    padding-top: 4px; 
    color: #000000;
}

.portfolio-header {
	font-family: "Michroma";
}