html {
	min-width: 1300px;
}

.landscape-container {
	  font-family: Verdana, Geneva, sans-serif;
	  margin: 0px auto; 
	  width: 100%;
}

.landscape-left 
{
	  height: 630px;
	  width: 20%;
    border-radius: 8px 8px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    border-width: 7px;
  	float: left;
  	padding: 5px;
	  margin-left: 30px;
	  overflow: auto;
}

.ui-accordion .ui-accordion-content
{
	  padding: 10px;
}
		
#landscape-slider 
{
	  margin-left: 10%; 	
	  width: 80%;
}

.landscape-right#landscape-map-container
{
    height: 630px;
    width: 75%;
    border-radius: 8px 8px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    border-width: 7px;
	  float: right;
	  margin-right: 30px;
}

#landscape-map-canvas {
    height: 100%;
    width: 100%;
}

#landscape-map-container #landscape-map-canvas img {
  max-width: none;
}

#landscape-map-container #landscape-map-canvas label {
  width: auto; 
  display: inline;
}

.ui-tabs.ui-widget-content {
  height: 400px;
  overflow: auto;
}

.img-landscape {
  border-radius: 3px;
	border: 8px solid #fff;
	-moz-box-shadow: 0 0 3px 3px #ebebeb;
  -webkit-box-shadow: 0 0 3px 3px #ebebeb;
  box-shadow: 0 0 3px 3px #ebebeb;
}

.clear {
    clear:both;
}