.title {
  margin: 25px 25px auto 25px;
}

.mobile-lead {
  margin: auto 25px 25px 25px;
}

.accordion {
  background-color: #f2f2f2;
  color: #666;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.accordion-header {
  min-height: 200px;
}

.accordion-header h2 {
  color: #ffffff;
  font-family: Verdana, Geneva, sans-serif;
}

.accordion-header p {
  color: #ffffff;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
}

.accordion-control {
  background-color: #303030;
  color: #fff;
  display: block;
  width: 100%;
  padding: 0.5em 0.5em 0.5em 0.7em;
  margin: 0 auto 25px auto;
  border-top: 1px solid #666;}

.accordion-panel {
  display: none;}

.accordion-panel p {
  margin: 20px;}

.accordion-panel img {
  display: block;
  clear: left;
}

.profile-picture {
  border: 1px solid #808080;
  border-radius: 3px;
  box-shadow: 10px 10px 5px #888888;
}

.panel-portfolio {
  height: 340px;
  width: 100%;
  border: 1px solid #808080;
  border-radius: 3px;
  background-color: #ffffff;
  text-align: center;
}

.portfolio-img {
  height: 300px;
  width: 100%;
}

.portfolio-title {
  margin-top: 8px;
}

.slider {
  margin: 0px auto;
  max-width: 640px;
}

.slide-viewer {
    position: relative;
    overflow: hidden;
    height: 480px;
}

.slide-group {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.slide:first-child {
    display: block;
}


.slide-buttons {
  text-align: center;
}

.slide-btn {
  border: none;
  background: none;
  color: #fff;
  font-size: 200%;
  line-height: 0.5em;
}

.slide-btn.active, .slide-btn:hover {
  color: #ed8e6c;
  font-size: 250%;
  cursor: pointer;
}
