html {
	min-width: 1300px;
}

@font-face {
    font-family:"Akashi";
    src:url("/fonts/akashi.eot?") format("eot"),
        url("/fonts/akashi.woff") format("woff"),
        url("/fonts/akashi.ttf") format("truetype"),
        url("/fonts/akashi.svg#Akashi") format("svg");
        font-weight:normal;
        font-style:normal;
}

@font-face {font-family:"Michroma";src:url("/fonts/Michroma.eot?") format("eot"),url("/fonts/Michroma.woff") format("woff"),url("/fonts/Michroma.ttf") format("truetype"),url("/fonts/Michroma.svg#Michroma") format("svg");font-weight:normal;font-style:normal;}

.portfolio-menu {
    font-family:"Michroma";
    font-size: 20px;
}

.portfolio-topbar .navbar-toggle {
    display: block;
    float: right;
    margin-right: 15px;
}

a.button {
    background-color: #ffffff;
    cursor: pointer;
}

a.button:hover {
    background-color: #cccccc;
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.clear {
    clear:both;
}

.portfolio-header {
    font-family:"Akashi";
    background-image: url(/img/portfolio-header.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
    height: 490px;
    width: 100%;
    overflow: hidden;
    text-align: center; 
    color: #ffffff;
}

@-webkit-keyframes letterAppear {
    0% { opacity:0;}
    10% { opacity:1;}
    100% {opacity:1;}
}
@-moz-keyframes letterAppear {
    0% { opacity:0;}
    10% { opacity:1;}
    100% {opacity:1;}
}
@-o-keyframes letterAppear {
    0% { opacity:0;}
    10% { opacity:1;}
    100% {opacity:1;}
}
@keyframes letterAppear {
    0% { opacity:0;}
    10% { opacity:1;}
    100% {opacity:1;}
}

@-webkit-keyframes line2 { 
	0% {top: 400px;} 
	100% { top: 361px;}	
}

@-webkit-keyframes line3 { 
	0% {top: 361px;} 
	100% { top: 323px;}	
}

@-webkit-keyframes line4 { 
	0% {top: 323px;} 
	100% { top: 285px;} 
}

@-webkit-keyframes line5 {
	0% {top: 285px;} 
	100% { top: 247px;}	
}

@-webkit-keyframes line6 { 
	0% {top: 247px;} 
	100% { top: 209px;}	
}

@-webkit-keyframes line7 { 
	0% {top: 209px;} 
	100% { top: 171px;}	
}

@-webkit-keyframes line8 { 
	0% {top: 171px;} 
	100% { top: 133px;}	
}

@-moz-keyframes line9 { 
	0% {top: 133px;} 
	100% { top: 95px;}	
}

@-moz-keyframes line2 { 
	0% {top: 400px;} 
	100% { top: 361px;}	
}

@-moz-keyframes line3 { 
	0% {top: 361px;} 
	100% { top: 323px;}	
}

@-moz-keyframes line4 { 
	0% {top: 323px;} 
	100% { top: 285px;} 
}

@-moz-keyframes line5 {
	0% {top: 285px;} 
	100% { top: 247px;}	
}

@-moz-keyframes line6 { 
	0% {top: 247px;} 
	100% { top: 209px;}	
}

@-moz-keyframes line7 { 
	0% {top: 209px;} 
	100% { top: 171px;}	
}

@-moz-keyframes line8 { 
	0% {top: 171px;} 
	100% { top: 133px;}	
}

@-moz-keyframes line9 { 
	0% {top: 133px;} 
	100% { top: 95px;}	
}

@-o-keyframes line2 { 
	0% {top: 400px;} 
	100% { top: 361px;}	
}

@-o-keyframes line3 { 
	0% {top: 361px;} 
	100% { top: 323px;}	
}

@-o-keyframes line4 { 
	0% {top: 323px;} 
	100% { top: 285px;} 
}

@-o-keyframes line5 {
	0% {top: 285px;} 
	100% { top: 247px;}	
}

@-o-keyframes line6 { 
	0% {top: 247px;} 
	100% { top: 209px;}	
}

@-o-keyframes line7 { 
	0% {top: 209px;} 
	100% { top: 171px;}	
}

@-o-keyframes line8 { 
	0% {top: 171px;} 
	100% { top: 133px;}	
}

@-o-keyframes line9 { 
	0% {top: 133px;} 
	100% { top: 95px;}	
}

@keyframes line2 { 
	0% {top: 400px;} 
	100% { top: 361px;}	
}

@keyframes line3 { 
	0% {top: 361px;} 
	100% { top: 323px;}	
}

@keyframes line4 { 
	0% {top: 323px;} 
	100% { top: 285px;} 
}

@keyframes line5 {
	0% {top: 285px;} 
	100% { top: 247px;}	
}

@keyframes line6 { 
	0% {top: 247px;} 
	100% { top: 209px;}	
}

@keyframes line7 { 
	0% {top: 209px;} 
	100% { top: 171px;}	
}

@keyframes line8 { 
	0% {top: 171px;} 
	100% { top: 133px;}	
}

@keyframes line9 { 
	0% {top: 133px;} 
	100% { top: 95px;}	
}

#portfolio-summary #one {
  position:absolute; 
  top: 400px;
  width: 100%;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  transition: opacity 0.8s;
}

#portfolio-summary {
  text-align: center;
  font-size: 20px;
  line-height: 38px;
  font-family:"Michroma";
  color: #ffffff;
  width: 1300px;
  margin: 0 auto;
  position: absolute;
  top: 15px;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

#portfolio-summary #one.hide { opacity:0; }

#portfolio-summary #one span { opacity:0; }

#portfolio-summary #one.scene {
    -webkit-animation:   
        line2 1s 3.8s forwards ease-in-out,
        line3 1s 12000ms forwards ease-in-out,   
        line4 1s 17500ms forwards ease-in-out,
        line5 1s 26000ms forwards ease-in-out,
        line6 1s 30500ms forwards ease-in-out,
        line7 1s 37500ms forwards ease-in-out,   
        line8 1s 44000ms forwards ease-in-out,
        line9 1s 51500ms forwards ease-in-out;
    -moz-animation:
        line2 1s 3.8s forwards ease-in-out,
        line3 1s 12000ms forwards ease-in-out,   
        line4 1s 17500ms forwards ease-in-out,
        line5 1s 26000ms forwards ease-in-out,
        line6 1s 30500ms forwards ease-in-out,
        line7 1s 37500ms forwards ease-in-out,   
        line8 1s 44000ms forwards ease-in-out,
        line9 1s 51500ms forwards ease-in-out;
    -o-animation:
        line2 1s 3.8s forwards ease-in-out,
        line3 1s 12000ms forwards ease-in-out,   
        line4 1s 17500ms forwards ease-in-out,
        line5 1s 26000ms forwards ease-in-out,
        line6 1s 30500ms forwards ease-in-out,
        line7 1s 37500ms forwards ease-in-out,   
        line8 1s 44000ms forwards ease-in-out,
        line9 1s 51500ms forwards ease-in-out;
    animation:
        line2 1s 3.8s forwards ease-in-out,
        line3 1s 12000ms forwards ease-in-out,   
        line4 1s 17500ms forwards ease-in-out,
        line5 1s 26000ms forwards ease-in-out,
        line6 1s 30500ms forwards ease-in-out,
        line7 1s 37500ms forwards ease-in-out,   
        line8 1s 44000ms forwards ease-in-out,
        line9 1s 51500ms forwards ease-in-out;
}

#portfolio-1 {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;    
    animation-fill-mode: both;
}

#portfolio-2 {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;    
    animation-fill-mode: both;
    animation-delay: 500ms;
}

#portfolio-3 {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;    
    animation-fill-mode: both;
    animation-delay: 1s;
}

#portfolio-4 {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;    
    animation-fill-mode: both;
    animation-delay: 1500ms;
}

#portfolio-5 {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;    
    animation-fill-mode: both;
    animation-delay: 2s;
}


#portfolio-6 {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;    
    animation-fill-mode: both;
    animation-delay: 2500ms;
}

@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

.panel-group div {
    font-family:"Akashi";
}

.panel-body {
    height: 300px; text-align: center; position: relative; overflow: hidden;
}

.portfolio {
    height: 300px; position:absolute; top: 0; left: 0; width: 100%;
}

.portfolio-img {
    position:absolute; top: 0; left: 0;
}
.portfolio-title {
    height: 40px; width: 100%; top:300px; left: 0px; border: 1px solid #cccccc; position:absolute; background-color: #ffffff;
    font-family:"Akashi"; font-size: 20px; padding-top: 4px;
}

footer {
	margin-top: -40px;
	background-color: rgba(0,0,0,0.05);
}