@import url(http://fonts.googleapis.com/css?family=Oswald:700,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: #fff;
    color: #666;
    font-family: 'Open Sans', arial, sans-serif;
    width: 100%;
    margin: 0 auto 0 auto;
}

header {
    display: flex;
    height: 10em;
    border-bottom: 0.1em solid #000;
    margin-bottom: 1em;
}

h1 {
    font-weight: normal;
    margin: 2em 0 0 0;
    width: 30em;
    height: 10em;
    background-image: none;
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;}

h2 {
    font-size: 2.4em;
    margin: 0.7em 0 1.7em 0;
    padding: 0;
    color: #000;
    line-height: 1em;
    letter-spacing: -.06em;
}

h3 {
    margin: 0;
    font-size: 1.4em;
    color: #3fbb8a; 
    font-family: oswald, arial, sans-serif;}

nav {
    font-family: oswald, arial, sans-serif;
    display: flex;
    margin-left: auto;
    width: 30em;
    padding-top: 2em;
    font-size: 1.4em;
    text-align: right;
    text-transform: uppercase;
}
  
nav a {
    padding-left: 2em;
}

nav a:hover, a.current {
    color: #d71a00;
}

a {
    text-decoration: none; 
    color: #000;
}

.timetable {
    display: flex;
    margin-right: auto;
    flex-grow: 1;
}

.third, .event {
    display: flex;
    margin-right: auto;
    flex-direction: column;
}

img {
    width: 15em;
    height: 15em;
}