extends layout

block page
  - var menu = 'blog'
block content
  h2 <span class="glyphicon glyphicon-book"></span> My Blog
  hr
  .panel-group#article
  .col-lg-4.col-md-4.col-sm-4.col-xs-4#list(style="float: right; position: relative; margin-left: 20px; margin-bottom: 10px;")
  .col-lg-2.col-md-2.col-sm-2.col-xs-2(style="margin-top:-20px;")
    ul.pagination
      li.disabled <span>&laquo;</span>
      li.active 
        a(href="#") 1
      li.disabled
        a &raquo;
  script(type="text/javascript", src="/js/decode.js")
    