extends layout

block page
  - var menu = 'index'
block content
  div(style="text-align: center; position: relative;")
    if(typeof msg !== 'undefined')
      if(!!err)
        div(class='msgbox err') #{msg}
      else
        div(class='msgbox success') #{msg}