doctype html
html
  head
    title= "Portfolio"
    link(rel="stylesheet", href="/css/cosmos.css")

    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  body.loading
    main
      section.homeSlide#slide-1
        .bcg(data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -800px;" data-anchor-target="#slide-1")
          .hsContainer
            .hsContent(data-center="opacity: 1;" data-106-top="opacity: 0;" data-anchor-target="#slide-1 h2") 
              h2 Cosmos Wanderer
              p 
                | It's been a quarter to four,
                br
                | I, lost in the cosmos.
                br
                | Not by the darkness of space,
                br
                | but by pure nostalgia.
      section#slide-2
        .bcg(data-0="background-color:rgb(1,27,59);" data-top="background-color:(0,0,0);" data-anchor-target="#slide-2")
          .hsContainer
            .hsContent
              img(src="img/cosmos-asteroid-belt.png" alt="asteroid belt" data-scroll-speed="2" style="position: absolute; left: 0px; top: -120px;")
              <h2 data-center="opacity: 1" data--200-bottom="opacity: 0" data-206-top="opacity: 1" data-106-top="opacity: 0" data-anchor-target="#slide-2 h2">Memories fade</h2>
              p(data-center="opacity: 1" data--200-bottom="opacity: 0" data-206-top="opacity: 1" data-106-top="opacity: 0" data-anchor-target="#slide-2 h2")
                | How many years passed?
                br
                | What an absurd question.
                br
                | Year is relative.
                br
                | Not on Earth, no year.
      section.homeSlide#slide-3
        .bcg(data-center="background-position: 0px 50%;" data-bottom-top="background-position: 0px 40%;" data-top-bottom="background-position: -40px 50%;" data-anchor-target="#slide-3")
          .hsContainer
            .hsContent
              img(src="img/cosmos-venus.png" alt="venus" data-scroll-speed="1" style="position: absolute; left: 800px; top: 1400px;")
              img(src="img/cosmos-mars.png" alt="mars" data-scroll-speed="3" style="position: absolute; left: 960px; top: 600px;")
              h2 Life is too short 
              p 
                | Sun's disance to Milky Way's center is 27.2 kilo light years.
                br
                | It's no way a human can leave this galaxy in his transient life. 
              .plaxEl(data-106-top="opacity: 0;" data-bottom="opacity: 1; position: fixed; top: 206px; width: 100%; left: -260px;" data--30p-top="opacity: 1;" data--60p-top="opacity: 0;" data-anchor-target="#slide-3")
                img(src="img/cosmos-space-shuttle.png" alt="space shuttle")
      section.homeSlide.homeSlideTall#slide-4
        .bcg(data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 100px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-4")
          .curtainContainer
            .curtain(data-bottom-top="opacity: 0;" data-106-top="height: 1%; top: -10%; opacity: 0;" data-center="height: 100%; top: 0%; opacity: 0.9;" data-anchor-target="#slide-4")
            .copy(data-bottom-top="opacity: 0;" data--100-bottom="opacity: 0;" data--280-bottom="opacity: 1;" data-280-top="opacity: 1;" data-106-top="opacity: 0;" data-anchor-target="#slide-4 .copy")
              h2 Into That Silent Sea
              p
                | I go back to my warm bed, back to my dreams.
                | but not the one of the planets.
                br
                | I decided this morning I don't want to be
                | the man on the Moon.
      section.homeSlide.homeSlideTall2#slide-5
        .bcg &nbsp;
        .bcg.bcg2(data-bottom-top="opacity: 0;" data--33p-top="opacity: 0;" data--66p-top="opacity: 1;" data-anchor-target="#slide-5")
          .hsContainer
            .hsContent(data-bottom-top="opacity: 0;" data-center="opacity: 1;" data-anchor-target="#slide-5")
              h2 Sweet Home
              p
                | The smell of humid fresh-mown grass
                br
                | mingles with sticky last-day-April-heat
                br
                | as it reaps the void from the universe.
                br
                | A world closer.
        .bcg.bcg3(data-300-bottom="opacity: 0;" data-100-bottom="opacity: 1;" data-anchor-target="#slide-5")
          .hsContainer
            .hsContent(data-100-bottom="opacity: 0;" data-bottom="opacity: 1;" data-anchor-target="#slide-5")
              h2 The End
              p 
                | More reponsive, interactive, dynamic websites.
                br
                | See <a href="/">my personal website</a>,
                br
                | Or <a href="/portfolio">my portfolio</a>.
  script(type="text/javascript", src="/js/modernizr.custom.57498.js")
  script(type="text/javascript", src="/js/jquery.min.js")
  script(type="text/javascript", src="/js/bootstrap.min.js")    
  script(type="text/javascript", src="/js/skrollr.js")
  script(type="text/javascript", src="/js/parallax-scrolling.js")
  script(type="text/javascript", src="/js/scroll-speed.js")