extends layout

block page
  - var menu = 'webapps'
block content
  h2 <span class="glyphicon glyphicon-dashboard"></span> Dashboard
  hr
  .col-lg-15.col-md-15.col-sm-15.col-xs-15
    .panel.panel-default
      .panel-body
        .dashboard-column(style="margin-left:60px; margin-top: 20px;")
            .portlet
              .portlet-header Today's weather
              .portlet-content#dashboard-upper
                select#selCity
                p#loadingWeather Loading
                #weatherInfo
                    ul
                      li
                        label Summary:
                        <span id="dashboard-summary"></span>
                      li
                        label Temperature:
                        <span id="dashboard-temperature"></span>
                      li
                        label Precipitation Probability: 
                        <span id="dashboard-precipProbability"></span>
                      li
                        label Precipitation Probability: 
                        <span id="dashboard-humidity"></span>  
                      li
                        label Wind Speed: 
                        <span id="dashboard-windSpeed"></span>
                      li
                        label Location: 
                        <span id="dashboard-location"></span>
            .portlet
              .portlet-header Flickr: Recent photos tagged "dog"
              .portlet-content.flickrPics#dashboard-lower
                  ul#dashboard-flickrPics
        .dashboard-column(style="margin-top: 20px;")
            .portlet
              .portlet-header Clock
              .portlet-content#dashboard-upper(style="text-align: center;")
                <span id="dashboard-clock">&nbsp;</span>
                #dashboard-clock-quote(style="font-weight: bold; margin-top: 10px;")
                  p 
                    | You may delay, but time will not.
                    br
                    | Benjamin Franklin
            .portlet
              .portlet-header reddit: top items
              .portlet-content#dashboard-reddit
        #dashboard-dialog(title="zoom")
  .col-lg-15.col-md-15.col-sm-15.col-xs-15
    .panel.panel-default
      .panel-body
        div(style="margin: 0px 10px 20px 25px;")
          h3 <span class="glyphicon glyphicon-star"></span> Inspiration
          p 
            | This web app was inspired by Vijay Joshi's <a href="https://www.packtpub.com/web-development/mastering-jquery-ui">Mastering jQuery UI</a> 
            | published by Packt. It is a fully functional dashboard initializing its portlets based on jQuery UI's <a href="https://jqueryui.com/sortable/">sortable</a> component
            | and also a practice of using multiple APIs, including <b>creating a weather widget</b> with <a href="https://developer.forecast.io/">the Dark Sky Forecast API</a>,
            | <b>displaying Flickr photos</b> with <a href="https://www.flickr.com/services/api/">the Flickr API</a>, <b>displaying posts from the reddit front page</b> with <a href="https://www.reddit.com/dev/api">the Reddit API</a>.
            | Furthermore, I also created <b>a JavaScript clock</b> to make it like a homepage dashboard.
          h3 <span class="glyphicon glyphicon-tag"></span> Skills
          p
            | <b>jQuery</b>, <b>jQuery UI (sortable)</b>, <b>JavaScript (Ajax)</b>, <b>the Dark Sky Forecast API</b>, <b>the Flickr API</b>, <b>the Reddit API</b>, HTML, CSS
  script(type="text/javascript", src="/js/dashboard.js")