doctype html
html
  head
    title= "Portfolio"
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/evolution.css")
    link(rel="stylesheet", href="/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/jquery-ui.min.css")
    link(rel="stylesheet", href="/css/theme.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.0/bootstrap-social.min.css")

    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  body
    .modal.fade#evolution-modal(style="opacity: 0.8;")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h2.modal-title <span class="glyphicon glyphicon-hourglass"></span> Human Evolution
          .modal-body(style="color: #000000; font-size: 16px; line-height: 20px; text-align: center; background-color: rgba(0,0,0,0.05);")
            img(src="img/evolution-modal.jpg" height="300px" width="480px")
            figcaption(style="margin-top:5px; margin-bottom: -8px;") You can <b>pause</b> the carousel on <b>hover</b>.
          .modal-footer
            button.btn.btn-primary(type="button" data-dismiss="modal") Proceed
    #wrapper
      .jumbotron.animated.fadeIn(style="margin: 0 auto 0 auto; position: relative; background-image: url(/img/02.jpg); background-size: cover; height: 330px;")
        nav.navbar.navbar-default#menu(role="navigation" style="position: absolute; top: 0px; width: 100%; background-color: transparent;")
          .navbar-header(style="margin-top: 10px;")
            a.navbar-brand(href="#") Human Evolution
          #navbarCollapse.collapse.navbar-collapse(style="margin-top: 10px;")
            ul.nav.navbar-nav.navbar-right
              li
                a(href="#one") Adam and Eve
              li
                a(href="#two") Darwin's Theory
              li
                a(href="#thr") Future Humans
              li
                a(href="#")
        .container(style="margin-top: 10px;")
          h1(style="color: #cccccc; margin: 30px auto;") Human Evolution
          p(style="color: #cccccc;") What will we become?
          p
            a.btn.btn-primary.btn-lg(href="/" target="_blank") See my personal website
          #background-cycler
            .img-cycled(style="background-image: url(/img/evolution-human-0.png);")
            .img-cycled(style="background-image: url(/img/evolution-human-1.png);")
            .img-cycled(style="background-image: url(/img/evolution-human-2.png);")
            .img-cycled(style="background-image: url(/img/evolution-human-3.png);")
            .img-cycled(style="background-image: url(/img/evolution-human-4.png);")
      section#one.main.style2.right
        .content.box.style2.animated.slideInRight
          header
            h2 Adam and Eve
          p The story of Adam and Eve is central to the belief that God created human beings to live in a paradise on earth. Humanity is in essence a single family, with everyone descended from a single pair of original ancestors.
        .scroll-down.col-lg-1.col-md-1.col-sm-1.col-xs-1.col-centered(style="margin: 0 auto; float: none; cursor: pointer;")  
          a.button.style2.down.anchored#to-two <span class="glyphicon glyphicon-arrow-down" style="font-size: 50px;"></span>
      section#two.main.style2.left
        .content.box.style2.animated.slideInLeft
          header
            h2 Darwin's Theory
          p The possibility of linking humans with earlier apes by descent became clear with the publication of Darwin's On the Origin of Species, in which he argued for the idea of the evolution of new species from earlier ones. Later he applied the theory of evolution and sexual selection to humans.
        .scroll-down.col-lg-1.col-md-1.col-sm-1.col-xs-1.col-centered(style="margin: 0 auto; float: none; cursor: pointer;")      
          a.button.style2.down.anchored#to-thr <span class="glyphicon glyphicon-arrow-down" style="font-size: 50px;"></span>
      section#thr.main.style2.right
        .content.box.style2.animated.slideInRight
          header
            h2 Future Humans
          p But where is evolution taking us? Will our descendants hurtle through space as relatively unchanged as the humans on the starship Enterprise? Will they be muscle-bound cyborgs? Or will they chose to digitize their consciousnesses—becoming electronic immortals?
        .scroll-down.col-lg-1.col-md-1.col-sm-1.col-xs-1.col-centered(style="margin: 0 auto; float: none; cursor: pointer;")  
          a.button.style2.down.anchored#to-tab <span class="glyphicon glyphicon-arrow-down" style="font-size: 50px;"></span>
      .tabs#tab
        ul.tab-list.nav.nav-tabs.nav-justified
          li.active
            a.tab-control(href="#tab-1") Timeline
          li
            a.tab-control(href="#tab-2") Family
          li
            a.tab-control(href="#tab-3") Skull
          li
            a.tab-control(href="#tab-4") Migration
          li
            a.tab-control(href="#tab-5") Future
        .tab-panel.active#tab-1
          .col-lg-8.col-md-8.col-sm-8.col-xs-8.carousel.slide#myCarousel-1(data-interval="1800" data-ride="carousel" style="padding: 0 0;")
            .carousel-inner
              .active.item#tab-1-1
                img(src="img/evolution-timeline-1.jpg" alt="1" height="100%" width="100%")
                .carousel-caption
                  h2 
                    b Mother Earth
              .item#tab-1-2
                img(src="img/evolution-timeline-3.jpg" alt="2" height="100%" width="100%")
                .carousel-caption
                  h2
                    b The Cambrian Explosion
              .item#tab-1-3
                img(src="img/evolution-timeline-2.jpg" alt="3" height="100%" width="100%")
                .carousel-caption
                  h2
                    b Genus Homo
          .col-lg-4.col-md-4.col-sm-4.col-xs-4.pull-right.caption(style="padding: 15px 10px 15px 10px;")
            p.activeContent#tab-1-1-content Earth formed around 4.54 billion years ago by accretion from the solar nebula.
            p#tab-1-2-content The Cambrian explosion has generated a long-running puzzlement about the appearance of the Cambrian fauna, seemingly abruptly and from nowhere.
            p#tab-1-3-content
              | Homo sapiens is the only extant species of its genus, Homo.
              br
              | Hominid primates(25 Ma)
              br
              | Homo habilis(2.3 Ma)
              br
              | Homo erectus(1.8 Ma)
              br
              | Homo neanderthalensis(0.25 Ma)
              br
              | Homo sapien(100K yrs ago to present)
        .tab-panel#tab-2
          .col-lg-8.col-md-8.col-sm-8.col-xs-8.carousel.slide#myCarousel-2(data-interval="1800" data-ride="carousel" style="padding: 0 0;")
            .carousel-inner
              .active.item#tab-2-1
                img(src="img/evolution-ape.jpg" alt="1" height="100%" width="100%")
                .carousel-caption
                  h2
                    b Primates
              .item#tab-2-2
                img(src="img/evolution-ape-2.jpg" alt="2" height="100%" width="100%")
                .carousel-caption
                  h2
                    b Divergence from Apes
              .item#tab-2-3
                img(src="img/evolution-ape-3.jpg" alt="3" height="100%" width="100%")
                .carousel-caption
                  h2
                    b Human Family Tree
          .col-lg-4.col-md-4.col-sm-4.col-xs-4.pull-right.caption(style="padding: 15px 10px 15px 10px;")
            p.activeContent#tab-2-1-content Evolutionary history of the primates can be traced back 65 million years.
            p#tab-2-2-content Between 8 and 4 million years ago, first the gorillas, and then the chimpanzees (DNA 98.4% identical) split off from the line leading to the humans.
            p#tab-2-3-content
              | Australopithecus species played a significant part in human evolution, the genus Homo being derived from Australopithecus at some time after 3 million years ago.
              br
              | Australopithecus(4–1.8 Ma)
              br
              | Kenyanthropus(3–2.7 Ma)
              br
              | Paranthropus(3–1.2 Ma)
        .tab-panel#tab-3
          .col-lg-8.col-md-8.col-sm-8.col-xs-8.carousel.slide#myCarousel-3(data-interval="1800" data-ride="carousel" style="padding: 0 0;")
            .carousel-inner
              .active.item#tab-3-1
                img(src="img/evolution-skull-1.jpg" alt="1" height="100%" width="100%")
                .carousel-caption#tab-3-1-caption
                  h2 
                    b Fossil Evidence
              .item#tab-3-2
                img(src="img/817921_orig1.jpg" alt="2" height="100%" width="100%")
                .carousel-caption#tab-3-2-caption
                  h2
                    b Human Skull Evolution
              .item#tab-3-3
                img(src="img/brainEvolution.jpg" alt="3" height="100%" width="100%")
                .carousel-caption#tab-3-3-caption
                  h2
                    b Brain Capacity
          .col-lg-4.col-md-4.col-sm-4.col-xs-4.pull-right.caption(style="padding: 15px 10px 15px 10px;")
            p.activeContent#tab-3-1-content The main sources of knowledge about the evolutionary process has traditionally been the fossil record.
            p#tab-3-2-content Compared with apes, Australopithecine brains' neocortex had begun to expand, reorganizing its functions away from visual processing toward other regions of the brain.
            p#tab-3-3-content As our cultural and linguistic complexity, dietary needs and technological prowess took a significant leap forward at this stage, our brains grew to accommodate the changes.
        .tab-panel#tab-4
          .col-lg-8.col-md-8.col-sm-8.col-xs-8.carousel.slide#myCarousel-4(data-interval="1800" data-ride="carousel" style="padding: 0 0;")
            .carousel-inner
              .active.item#tab-4-1
                img(src="img/evolution-migration-1.jpg" alt="1" height="100%" width="100%")
                .carousel-caption#tab-4-1-caption
                  h2 
                    b The Saharan Pump Theory
              .item#tab-4-2
                img(src="img/evolution-migration-2.jpg" alt="2" height="100%" width="100%")
                .carousel-caption#tab-4-2-caption
                  h2
                    b Asia
              .item#tab-4-3
                img(src="img/geno-project-human-migration-map_print1.jpg" alt="3" height="100%" width="100%")
                .carousel-caption#tab-4-3-caption
                  h2
                    b Out of Africa
          .col-lg-4.col-md-4.col-sm-4.col-xs-4.pull-right.caption(style="padding: 15px 10px 15px 10px;")
            p.activeContent#tab-4-1-content
              | The Saharan pump theory depicts human migrations from Africa:
              br
              | Homo erectus into Southeast and East Asia;
              | Homo heidelbergensis into the Middle East and Western Europe;
              | Homo sapiens "Out of Africa theory";
              | the spread of Afro-Asiatic languages.
            p#tab-4-2-content Homo erectus was the first to use fire and sophisticated tools.
            p#tab-4-3-content Human evolution has accelerated since the development of agriculture and civilization some 10K years ago, resulting in substantial genetic differences between different current human populations.
        .tab-panel#tab-5
          .col-lg-8.col-md-8.col-sm-8.col-xs-8.carousel.slide#myCarousel-5(data-interval="1800" data-ride="carousel" style="padding: 0 0;")
            .carousel-inner
              .active.item#tab-5-1
                img(src="img/238859.jpg" alt="1" height="100%" width="100%")
                .carousel-caption#tab-5-1-caption
                  h2
                    b The Cyborg
              .item#tab-5-2
                img(src="img/evolution-future-2.jpg" alt="2" height="100%" width="100%")
                .carousel-caption#tab-5-2-caption
                  h2
                    b Brain-computer interface
              .item#tab-5-3
                img(src="img/evolution-future-3.jpg" alt="3" height="100%" width="100%")
                .carousel-caption#tab-5-3-caption
                  h2
                    b Immortality
          .col-lg-4.col-md-4.col-sm-4.col-xs-4.pull-right.caption(style="padding: 15px 10px 15px 10px;")
            p.activeContent#tab-5-1-content The cyborg, Human 2.0, or human augmentation, is generally used to refer to technologies that enhance human productivity or capability, or that somehow add to the human body.  
            p#tab-5-2-content A brain–computer interface (BCI), is a direct communication pathway between the brain and an external device.
            p#tab-5-3-content Immortality is the ability to live forever or eternal life. Natural selection has developed potential biological immortality in at least one species, the jellyfish Turritopsis dohrnii.
            
      footer.panel-group(style="text-align: center; position: relative; background-image: url(/img/02.jpg); background-size: cover; margin: 0 auto;") 
        .clear &nbsp
        div(style="font-size: 28px; line-height: 32px; margin: 0 auto;") MORE FROM MY PORTFOLIO
        .clear &nbsp
        .col-lg-4.col-md-4.col-sm-4.col-xs-4
          .panel.panel-default.fadeIn#portfolio-1
            .panel-body
              a.portfolio(href="/landscape")
                img.portfolio-img(src="img/img-deer.jpg" height="100%" width="100%")
              .portfolio-title <span class="glyphicon glyphicon-camera"></span> Formosan Landscape
        .col-lg-4.col-md-4.col-sm-4.col-xs-4
          .panel.panel-default.fadeIn#portfolio-2
            .panel-body
              a.portfolio(href="/cosmos")
                img.portfolio-img(src="img/86839.jpg" height="100%" width="100%")
              .portfolio-title <span class="glyphicon glyphicon-star"></span> Cosmos Wanderer
        .col-lg-4.col-md-4.col-sm-4.col-xs-4
          .panel.panel-default.fadeIn#portfolio-3
            .panel-body
              a.portfolio(href="/insect")
                img.portfolio-img(src="img/insect-butterfly-1.jpg" height="100%" width="100%")
              .portfolio-title <span class="glyphicon glyphicon-leaf"></span> Insect World
        .clear &nbsp
        .shareBox.btn-group
          a.btn.btn-primary.btn-social-icon.btn-facebook(href="#", type="facebook")
            i.fa.fa-facebook
          a.btn.btn-primary.btn-social-icon.btn-twitter(href="#", type="twitter")
            i.fa.fa-twitter
          a.btn.btn-primary.btn-social-icon.btn-linkedin(href="#", type="linkedin")
            i.fa.fa-linkedin
          a.btn.btn-primary.btn-social-icon.btn-google-plus(href="#", type="google-plus")
            i.fa.fa-google-plus
        p(style="margin-bottom: 0px; font-size:18px;")
          | Copyright &copy; 2015 | Issues? Submit to&#32;
          a(href="https://github.com/seraph317/personal_website") Github
          | .
        .clear &nbsp
    script(type="text/javascript", src="/js/jquery.min.js")
    script(type="text/javascript", src="/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/jquery-ui.min.js")
    script(type="text/javascript", src="/js/modernizr.custom.57498.js")
    script(type="text/javascript", src="/js/tabs.js")
    script(type="text/javascript", src="/js/hover.js")
    script(type="text/javascript", src="/js/share.js")