extends layout

block page
  - var menu = 'profile'
block content
  h2 <span class="glyphicon glyphicon-picture"></span> My Gallery
  hr
  .carousel.slide#myCarousel(data-interval="1500" data-ride="carousel")
    ol.carousel-indicators
      li.active(data-target="#myCarousel" data-slide-to="0")
      li(data-target="#myCarousel" data-slide-to="1")
      li(data-target="#myCarousel" data-slide-to="2")
      li(data-target="#myCarousel" data-slide-to="3")
    .carousel-inner
      .active.item
        img(src="img/picture-08.jpg" alt="Washington Square Park")
        .carousel-caption
          h2 <b>Washington Square Park</b>
      .item
        img(src="img/picture-14.jpg" alt="Macy's")
        .carousel-caption
          h2 <b>Macy's</b>
      .item
        img(src="img/picture-15.jpg" alt="Roosevolt Island")
        .carousel-caption
          h2 <b>Roosevolt Island</b>
      .item
        img(src="img/picture-16.jpg" alt="Empire State Building")
        .carousel-caption 
          h2 <b>Empire State Building</b>
    .carousel-control.left(href="#myCarousel" data-slide="prev")
      <span class="glyphicon glyphicon-chevron-left"></span>
    .carousel-control.right(href="#myCarousel" data-slide="next")
      <span class="glyphicon glyphicon-chevron-right"></span>
  .clear &nbsp
  #buttons
    h2 <span class="glyphicon glyphicon-tags"></span> Tags
  #search
    h2 <span class="glyphicon glyphicon-search"></span> Search
    input#filter-search(type="text" placeholder="filter by title")
  #gallery
    h2 <span class="glyphicon glyphicon-zoom-in"></span> 4 : 5 
    .col-lg-14.col-md-14.col-sm-14.col-xs-14
      .panel.panel-default
        .panel-body#gallery-4-5
          img.img-thumb(src="img/picture-01.jpg" data-tags="Me" title="Get ready" width="240" height="300")
          img.img-thumb(src="img/picture-02.jpg" data-tags="Me" title="Prepare for winter at home" width="240" height="300")
          img.img-thumb(src="img/picture-03.jpg" data-tags="Me" title="At NYU Bobst Library" width="240" height="300")
          img.img-thumb(src="img/picture-04.jpg" data-tags="Me" title="Thanks for your gift" width="240" height="300")
          img.img-thumb(src="img/picture-11.jpg" data-tags="New-York" title="Natural History Museum" width="240" height="300")
          img.img-thumb(src="img/picture-13.jpg" data-tags="New-York" title="Statue of Liberty" width="240" height="300")
    h2 <span class="glyphicon glyphicon-zoom-in"></span> 1024 &times; 768 px 
    .col-lg-14.col-md-14.col-sm-14.col-xs-14
      .panel.panel-default
        .panel-body#gallery-1024-768
          img.img-thumb(src="img/picture-07.jpg" data-tags="Arts" title="Chinese art painting transformation in Photoshop" width="300" height="199")
          img.img-thumb(src="img/picture-08.jpg" data-tags="New-York" title="Washington Square Park" width="300" height="199")
          img.img-thumb(src="img/picture-09.jpg" data-tags="New-York" title="Brooklin Bridge" width="300" height="199")
          img.img-thumb(src="img/picture-10.jpg" data-tags="New-York" title="Time Square" width="300" height="199")
          img.img-thumb(src="img/picture-12.jpg" data-tags="New-York" title="Plattsburgh" width="300" height="199")
          img.img-thumb(src="img/picture-14.jpg" data-tags="New-York" title="Macy's" width="300" height="199")
          img.img-thumb(src="img/picture-15.jpg" data-tags="New-York" title="Roosevolt Island" width="300" height="199")
          img.img-thumb(src="img/picture-16.jpg" data-tags="New-York" title="Empire State Building" width="300" height="199")
          img.img-thumb(src="img/picture-17.jpg" data-tags="California" title="Mission Peak" width="300" height="199")
          img.img-thumb(src="img/picture-18.jpg" data-tags="California" title="San Francisco" width="300" height="199")
    .dialogBoxes#dialogZoom(title="zoom")
  script(type="text/javascript", src="/js/fixed-menu.js")
  script(type="text/javascript", src="/js/filter-tags.js")
  script(type="text/javascript", src="/js/search.js")
  script(type="text/javascript", src="/js/zoom-in.js")