extends layout

block page
  - var menu = 'index'
block content
  .panel-group
    .col-lg-14.col-md-14.col-sm-14.col-xs-14#column-1
      .panel.panel-default
        .panel-body#background-new-york
          a#background-spread-our-wings(href="/profile")
          a#background-birds(href="/profile" data-scroll-speed="1")
          a#background-cloud(href="/profile" data-scroll-speed="3")
          a#background-fog(href="/profile" data-scroll-speed="3")
          .scroll-down.col-lg-1.col-md-1.col-sm-1.col-xs-1.col-centered
            a#column-2(href="#") <span class="glyphicon glyphicon-chevron-down glyphicon-scroll-down" aria-hidden="true" style="z-index: 10;"></span>
    .col-lg-14.col-md-14.col-sm-14.col-xs-14#column-2
      .panel.panel-default
        .panel-body#background-dandelion-field
          a#background-blowing-dandelion(href="/webapps")
          a#background-dandelion(href="/webapps")
          a#background-dandelion-seeds
          .scroll-down.col-lg-1.col-md-1.col-sm-1.col-xs-1.col-centered
            a#column-3(href="#") <span class="glyphicon glyphicon-chevron-down glyphicon-scroll-down" aria-hidden="true" style="z-index: 10;"></span>
    .col-lg-14.col-md-14.col-sm-14.col-xs-14#column-3
      .panel.panel-default
        .panel-body#background-cycler
          a#background-stay-hungry(href="/blog")
          a.img-cycled(href="/blog" style="background-image: url(/img/background-tiger.jpg);")
          a.img-cycled(href="/blog" style="background-image: url(/img/background-snake.jpg);")
          a.img-cycled(href="/blog" style="background-image: url(/img/background-elephant.jpg);")
          a.img-cycled(href="/blog" style="background-image: url(/img/background-cheetah.jpg);")
          a.img-cycled(href="/blog" style="background-image: url(/img/background-wolf.jpg);")
          .scroll-down.col-lg-1.col-md-1.col-sm-1.col-xs-1.col-centered
            a#gallery(href="#") <span class="glyphicon glyphicon-chevron-down glyphicon-scroll-down" aria-hidden="true" style="z-index: 10;"></span>

  h2 <span class="glyphicon glyphicon-picture"></span> Gallery 
  hr
  .panel-group(id="slide-area")
    .row#gallery
      .col-lg-6.col-md-6.col-sm-6.col-xs-6(id="slide-left-top")
        .panel.panel-default(style="width: 610px; height: 430px; position: relative;")
          .panel-body
            a(href="/gallery")
              img(src="img/picture-08.jpg" data-tags="New-York" title="Washington Square Park" width="610px" height="430px" style="height: 100%; width: 100%; position: absolute; top: 0; left: 0;")
      .col-lg-6.col-md-6.col-sm-6.col-xs-6(id="slide-right-top")
        .panel.panel-default(style="width: 610px; height: 430px; position: relative;")
          .panel-body
            a(href="/gallery")
              img(src="img/picture-12.jpg" data-tags="New-York" title="Plattsburgh" width="610px" height="430px" style="height: 100%; width: 100%; position: absolute; top: 0; left: 0;")
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-6(id="slide-left-mid")
        .panel.panel-default(style="width: 610px; height: 430px; position: relative;")
          .panel-body
            a(href="/gallery")
              img(src="img/picture-14.jpg" data-tags="New-York" title="Macy's" width="610px" height="430px" style="height: 100%; width: 100%; position: absolute; top: 0; left: 0;")
      .col-lg-6.col-md-6.col-sm-6.col-xs-6(id="slide-right-mid")
        .panel.panel-default(style="width: 610px; height: 430px; position: relative;")
          .panel-body
            a(href="/gallery")
              img(src="img/picture-15.jpg" data-tags="New-York" title="Roosevolt Island"  width="610px" height="430px" style="height: 100%; width: 100%; position: absolute; top: 0; left: 0;")
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-6(id="slide-left-bottom")
        .panel.panel-default(style="width: 610px; height: 430px; position: relative;")
          .panel-body
            a(href="/gallery")
              img(src="img/picture-16.jpg" data-tags="New-York" title="Empire State Building" width="610px" height="430px" style="height: 100%; width: 100%; position: absolute; top: 0; left: 0;")
      .col-lg-6.col-md-6.col-sm-6.col-xs-6(id="slide-right-bottom")
        .panel.panel-default(style="width: 610px; height: 430px; position: relative;")
          .panel-body
            a(href="/gallery")
              img(src="img/picture-18.jpg" data-tags="California" title="San Francisco" width="610px" height="430px" style="height: 100%; width: 100%; position: absolute; top: 0; left: 0;")
  hr
  h2 <span class="glyphicon glyphicon-calendar"></span> Timeline
  hr
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .panel.panel-default(style="background-image:url(/img/green-gradient.jpg); background-size:100%;")
          .panel-body
            .timeline-container
              #timeline
              .overlay#leftOverlay
              .overlay#rightOverlay
              #window
                .ui-state-default.ui-corner-all.close <span class="ui-icon ui-icon-closethick"></span>
                #yearEvents
                .link <span class="glyphicon glyphicon-chevron-right glyphicon-timeline" aria-hidden="true"></span>
            .clear &nbsp
            #slider
            .clear &nbsp
  label#sliderVal
  script(type="text/javascript", src="/js/modernizr.custom.57498.js")
  script(type="text/javascript", src="/js/redirect.js")
  script(type="text/javascript", src="/js/fixed-menu.js")
  script(type="text/javascript", src="/js/scroll-down.js")
  script(type="text/javascript", src="/js/scroll-speed.js")
  script(type="text/javascript", src="/js/background-cycler.js")
  script(type="text/javascript", src="/js/slide-in.js")
  script(type="text/javascript", src="/js/timeline.js")