doctype html
html
  head
    title= "Portfolio"
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/insect.css")
    link(rel="stylesheet", href="/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/jquery-ui.min.css")
    link(rel="stylesheet", href="/css/theme.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.0/bootstrap-social.min.css")

    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  body
    .modal.fade#insect-modal
      .modal-dialog
        .modal-content
          .modal-body(style="color: #000000; font-size: 14px; line-height: 20px; text-align: center; background-color: rgba(0,0,0,0.15);")
            button.close(type="button" data-dismiss="modal" aria-hidden="true" style="width: 25px; height: 25px;") &times;
            img(src="img/7085.jpg" height="526px" width="400px" style="margin-left: 21px;")
            figcaption(style="margin-top:5px; margin-bottom: -8px;") <b>Mouseover</b> each panel to <b>highlight</b> the keywords.<br>See the <b>interactive annotations</b> by <b>hovering over</b> those keywords.
    #wrapper
      header#header.alt
        h1
          a(href="#") Insect World
        nav#nav
          ul
            li.special
              a.menuToggle(href="#") <span>Menu</span>
              #menu
                ul
                  li
                    a(href="/") <span class="glyphicon glyphicon-user"></span> <b>Personal Website</b>
                  li
                    a(href="/portfolio") <span class="glyphicon glyphicon-briefcase"></span> <b>Portfolio</b>
                  li
                    a(href="#butterfly" style="color: #ff2500;") <b>Butterfly</b>
                  li
                    a(href="#bee" style="color: #d8cf0f;") <b>Bee</b>
                  li
                    a(href="#mantis" style="color: #ff748c;") <b>Mantis</b>
                  li
                    a(href="#dragonfly" style="color: #00b300;") <b>Dragonfly</b>
                  li
                    a(href="#rhinoceros-beetle" style="color: #d27f38;") <b>Rhinoceros Beetle</b>
                  li
                    a(href="#grasshopper" style="color: #bbaf2a;") <b>Grasshopper</b>
      section#banner.animated.fadeIn
        .inner
          h2 Insect World
          p Most successful animals that have ever evolved
            a.more#insect(href="#insect-1" style="text-decoration: none; font-size: 20px") 
              | Learn More
              br
              | <span class="glyphicon glyphicon-arrow-down"></span>
      section#insect-1
          section.spotlight#butterfly
            .image
              img(src="img/insect-butterfly-1.jpg") 
            .content		
              a(href="https://en.wikipedia.org/wiki/Butterfly") 
                h2.butterfly-title Butterfly
              p Most of us enjoy seeing a butterfly flitting among wildflowers or passing through a garden. We may not stop to think, though, that the seemingly carefree butterfly is on a life-or-death mission. Every butterfly must <span class="butterfly-nutrient">gather nutrients, either from flower nectar or other sources,</span> to support itself long enough to find a mate, and if it is a female, to also produce and lay eggs.
          section.spotlight
            .image
              img(src="img/insect-butterfly-2.jpg") 
            .content
              p Butterflies, while carrying out this mission, <span class="butterfly-pollinate">pollinate the flowers they visit</span>. <span class="butterfly-pollinate">Pollen</span> grains from one flower, say a daisy, stick to the butterfly. When the butterfly visits a second daisy, the <span class="butterfly-pollinate">pollen</span> from the first flower is transferred to the second. In this way, the flowers can carry out their mission, which is to produce more of their own kind.
          section.spotlight#bee
            .image
              img(src="img/insect-bee-1.jpg") 
            .content
              a(href="https://en.wikipedia.org/wiki/Bee") 
                h2.bee-title Bee
              p Bees are flying insects closely related to wasps and ants, known for their role in pollination and, in the case of the best-known bee species, the European <span class="bee-honey-wax">honey bee</span>, for <span class="bee-honey-wax">producing honey and beeswax</span>. Bees are a monophyletic lineage within the superfamily Apoidea, presently considered as a clade Anthophila. 
          section.spotlight
            .image
              img(src="img/insect-bee-2.jpg") 
            .content
              p There are <span class="bee-species">nearly 20,000 known species of bees</span> in seven to nine recognized families, though many are <span class="bee-species">undescribed</span> and the actual number is <span class="bee-species">probably higher</span>. They are found on every continent except Antarctica, in every habitat on the planet that contains insect-pollinated flowering plants.
          section.spotlight#mantis
            .image
              img(src="img/insect-mantis-1.jpg") 
            .content
              a(href="https://en.wikipedia.org/wiki/Mantis") 
                h2.mantis-title Mantis
              p Mantises are distributed worldwide in temperate and tropical habitats. They are <span class="mantis-predator">mostly ambush predators</span>, but a few ground-dwelling species <span class="mantis-predator">actively pursue their prey</span>. Their forelegs are greatly enlarged and are adapted for catching and gripping prey; their upright posture, while remaining stationary with forearms folded, has led to the name praying mantises.
          section.spotlight
            .image
              img(src="img/insect-mantis-2.jpg") 
            .content		
              p The closest relatives of mantises are the <span class="mantis-relatives">termites and cockroaches</span>, the three groups being included in the superorder Dictyoptera. Mantises are sometimes confused with stick insects and other elongated insects such as grasshoppers, or other insects with raptorial forelegs such as <span class="mantis-relatives">mantisflies</span>.
          section.spotlight#dragonfly
            .image
              img(src="img/insect-dragonfly-1.jpg") 
            .content
              a(href="https://en.wikipedia.org/wiki/Dragonfly") 
                h2.dragonfly-title Dragonfly
              p Dragonflies are predators, both in their <span class="dragonfly-nymph">aquatic larval stage</span>, when they are known as <span class="dragonfly-nymph">nymphs or naiads</span>, and as adults. Several years of their life are spent as a <span class="dragonfly-nymph">nymph</span> living in freshwater; the adults may be on the wing for just a few days or weeks. They are fast agile fliers, sometimes migrating across oceans, and are often but not always found near water.
          section.spotlight
            .image
              img(src="img/insect-dragonfly-2.jpg") 
            .content
              p Fossils of <span class="dragonfly-fossil">very large dragonfly ancestors</span> in the Protodonata are found from 325 million years ago in Upper Carboniferous rocks; these had <span class="dragonfly-fossil">wingspans of up to about 750 mm (30 in)</span>. There are about 3000 species of Anisoptera in the world today. Most are tropical, with fewer species in temperate regions.
          section.spotlight#rhinoceros-beetle
            .image
              img(src="img/insect-rhinoceros-beetle-1.jpg") 
            .content
              a(href="https://en.wikipedia.org/wiki/Dynastinae") 
                h2.rhinoceros-beetle-title Rhinoceros Beetle
              p Dynastinae or rhinoceros beetles are a subfamily of the <span class="rhinoceros-beetle-group">scarab beetle family</span>. Other common names – some for particular groups of rhinoceros beetles – are for example <span class="rhinoceros-beetle-group">Hercules beetles, unicorn beetles or horn beetles</span>. Over 300 species of rhinoceros beetles are known. Many of them are well known for their unique shapes and large sizes.
          section.spotlight
            .image
              img(src="img/insect-rhinoceros-beetle-2.jpg") 
            .content		
              p Rhinoceros beetles have become popular pets in parts of Asia, due to being relatively clean, easy to maintain, and safe to handle. Also in Asia, male beetles are used for <span class="rhinoceros-beetle-fight">gambling fights</span>. Since males naturally have the tendency to <span class="rhinoceros-beetle-fight">fight</span> each other for the attention of females, they are the ones used for battle. To get the two male beetles to <span class="rhinoceros-beetle-fight">lock in combat</span>, a female beetle or a small noisemaker is used to duplicate the female's mating call.
          section.spotlight#grasshopper
            .image
              img(src="img/insect-grasshopper-1.jpg") 
            .content
              a(href="https://en.wikipedia.org/wiki/Grasshopper") 
                h2.grasshopper-title Grasshopper
              p <span class="grasshopper-locust">Locusts</span> are the <span class="grasshopper-locust">swarming phase</span> of certain species of short-horned grasshoppers in the family Acrididae. In the solitary phase these grasshoppers are innocuous, their numbers are low and they cause little economic threat to agriculture. However, under suitable conditions of drought followed by rapid vegetation growth, <span class="grasshopper-locust">serotonin</span> in their brains triggers a dramatic set of changes: they start to <span class="grasshopper-locust">breed abundantly, becoming gregarious and nomadic</span>.
          section.spotlight
            .image
              img(src="img/insect-grasshopper-2.jpg") 
            .content
              p They form bands of wingless nymphs which later become swarms of winged adults. Both the bands and the swarms move around and <span class="grasshopper-disaster">rapidly strip fields</span> and <span class="grasshopper-disaster">cause damage to crops</span>. The adults are powerful fliers; they can travel great distances, <span class="grasshopper-disaster">consuming most of the green vegetation</span> wherever the swarm settles.
      section#insect-2
          .inner
            header.major(style="padding-top: 50px; padding-left: 200px; padding-right: 200px;")
              h2 What is an insect?
              p Insects are a class of invertebrates within the arthropod phylum that have a chitinous exoskeleton, a three-part body (head, thorax and abdomen), three pairs of jointed legs, compound eyes and one pair of antennae.
            ul.features
              li
                h3.evolution <span class="glyphicon glyphicon-tree-conifer"></span> Evolution
                p A report in November 2014 unambiguously places the insects in one clade, with the Crustaceans and Myriapods, as the nearest sister clades. There have been four super radiations of insects: <span class="evolution">beetles, flies, moths and wasps evolved from ~300 to ~150 million years ago</span>.
              li
                h3.arthropod <span class="glyphicon glyphicon-certificate"></span> Arthropod
                p <span class="arthropod">Centipedes, millipedes, scorpions and spiders</span>, are often confused with insects since their body plans can appear similar, sharing a jointed exoskeleton. However, upon closer examination their features differ significantly; most noticeably they <span class="arthropod">do not have the six-leg characteristic of adult insects</span>.
              li
                h3.diversity <span class="glyphicon glyphicon-globe"></span> Diversity
                p They are among the most diverse groups of animals on the planet. The number of extant species is estimated at between six and ten million, and potentially represent over 90% of the differing animal life forms on Earth. A recent study estimated <span class="diversity">the number of beetles at 0.9–2.1 million with a mean of 1.5 million</span>.
              li
                h3.social <span class="glyphicon glyphicon-send"></span> Social
                p <span class="social">Social insects, such as termites, ants and many bees and wasps</span>, are the most familiar species of eusocial animal. They live together in large well-organized colonies that may be so tightly integrated and genetically similar that the colonies of some species are sometimes considered <span class="social">superorganisms</span>.
              li
                h3.sense <span class="glyphicon glyphicon-eye-open"></span> Sense
                p There is a tendency for there to be a trade-off between visual acuity and <span class="sense">chemical or tactile acuity</span>, such that some insects with well-developed eyes have reduced <span class="sense">antennae</span>. There are a variety of different mechanisms by which insects perceive sound, while the patterns are not universal, insects can generally hear sound if they can produce it.
              li
                h3.defense <span class="glyphicon glyphicon-knight"></span> Defense
                p Insects are mostly soft bodied, fragile and almost defenseless compared to other, larger lifeforms. All stages are exposed to predation and parasitism. They then have a variety of <span class="defense">defense strategies</span> to avoid being attacked by predators or parasitoids. These include <span class="defense">camouflage, mimicry, toxicity and active defense</span>.
      footer.panel-group(style="text-align: center; position: relative; margin: -20px auto 0 auto; height: 400px;")
        h2.portfolio-header(style="margin: 0 auto 20px auto;")  MORE FROM MY PORTFOLIO
        .col-lg-4.col-md-4.col-sm-4.col-xs-4
          .panel.panel-default.fadeIn#portfolio-1
            .panel-body
              a.portfolio(href="/landscape")
                img.portfolio-img(src="img/img-deer.jpg" height="100%" width="100%")
              .portfolio-title <span class="glyphicon glyphicon-camera"></span> Formosan Landscape
        .col-lg-4.col-md-4.col-sm-4.col-xs-4
          .panel.panel-default.fadeIn#portfolio-2
            .panel-body
              a.portfolio(href="/cosmos")
                img.portfolio-img(src="img/86839.jpg" height="100%" width="100%")
              .portfolio-title <span class="glyphicon glyphicon-star"></span> Cosmos Wanderer
        .col-lg-4.col-md-4.col-sm-4.col-xs-4
            .panel.panel-default.fadeIn#portfolio-4
              .panel-body
                a.portfolio(href="/evolution")
                  img.portfolio-img(src="img/238859.jpg" height="100%" width="100%")
                .portfolio-title <span class="glyphicon glyphicon-hourglass"></span> Human Evolution
        .clear &nbsp
        .shareBox.btn-group(style="margin-top: 25px;")
          a.btn.btn-primary.btn-social-icon.btn-facebook(href="#", type="facebook")
            i.fa.fa-facebook
          a.btn.btn-primary.btn-social-icon.btn-twitter(href="#", type="twitter")
            i.fa.fa-twitter
          a.btn.btn-primary.btn-social-icon.btn-linkedin(href="#", type="linkedin")
            i.fa.fa-linkedin
          a.btn.btn-primary.btn-social-icon.btn-google-plus(href="#", type="google-plus")
            i.fa.fa-google-plus
        p(style="margin-bottom: 15px;")
          | Copyright &copy; 2015 | Issues? Submit to&#32;
          a(href="https://github.com/seraph317/personal_website") Github
          | .
    script(type="text/javascript", src="/js/jquery.min.js")
    script(type="text/javascript", src="/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/jquery-ui.min.js")
    script(type="text/javascript", src="/js/modernizr.custom.57498.js")
    script(type="text/javascript", src="/js/collapsing-menu.js")
    script(type="text/javascript", src="/js/hover.js")
    script(type="text/javascript", src="/js/share.js")