extends layout

block page
  - var menu = 'webapps'
block content
  h2 <span class="glyphicon glyphicon-th"></span> Jigsaw Puzzle
  hr
  .col-lg-14.col-md-14.col-sm-14.col-xs-14#select-image
    .panel.panel-default
        .panel-body
          img.jigsaw-puzzle-img-thumb(src="img/MonaLisa.jpg" alt="MonaLisa")
          img.jigsaw-puzzle-img-thumb(src="img/Napoleon.jpg" alt="Napoleon")
          img.jigsaw-puzzle-img-thumb(src="img/Spring.jpg" alt="Spring")
  .col-lg-14.col-md-14.col-sm-14.col-xs-14#jigsaw-puzzle
    .panel.panel-default
        .panel-body
          #pieceBox
          #puzzleContainer
          .clear &nbsp
          #jigsaw-puzzle-message
          .clear &nbsp
          ul.jigsaw-puzzle-buttons
            li
              button#jigsaw-puzzle-start Start
            li
              button#jigsaw-puzzle-reset Reset
  .col-lg-14.col-md-14.col-sm-14.col-xs-14(style="clear: both;")
    .panel.panel-default
      .panel-body
        div(style="margin: 0px 10px 20px 25px;")
          h3 <span class="glyphicon glyphicon-star"></span> Inspiration
          p
            | I learned how to build a jigsaw puzzle game from Vijay Joshi's <a href="https://www.packtpub.com/web-development/mastering-jquery-ui">Mastering jQuery UI</a> book.
            | This web app is an example of using jQuery UI's <a href="https://jqueryui.com/draggable/">draggable</a> and <a href="https://jqueryui.com/droppable/">droppable</a> components,
            | but there are some more difficult parts while writing JavaScript, such as <b>creating slices using the CSS background-position property</b> and <b>defining the shuffle function</b>. 
            | To make the game more interesting, I <b>display several images to users</b> and <b>allow them to select one image to be used with the puzzle</b>. These images include Leonardo da Vinci's
            | Mona Lisa, Jacques-Louis David's Napoleon Crossing the Alps, and Pierre Auguste Cot's Spring.
          h3 <span class="glyphicon glyphicon-tag"></span> Skills
          p
            | <b>jQuery</b>, <b>jQuery UI (draggable, droppable)</b>, JavaScript, HTML, CSS
  script(type="text/javascript", src="/js/jigsaw-puzzle.js")