doctype html
html
  head
    title= "Portfolio"
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
    link(rel="stylesheet", href="/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/jquery-ui.min.css")
    link(rel="stylesheet", href="/css/theme.css")
    link(rel="stylesheet", href="/css/landscape.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.0/bootstrap-social.min.css")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .modal.fade#landscape-modal(style="opacity: 0.8;")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h2.modal-title <span class="glyphicon glyphicon-camera"></span> Formosan Landscape
          .modal-body
            p 1. Click the <b>markers <span class="glyphicon glyphicon-map-marker"></span></b> on the map to open the <b>info windows</b>.
            p 2. Mouseover the <b>icons</b> to find out what they are.
            p 3. Use the <b>slider</b> to customize the range of <b>popularities</b>, and then the matched landscapes will be displayed below.
            p 4. The <b>spinner</b> lets you select <b>zoom level</b> accurately.
          .modal-footer
            button.btn.btn-primary(type="button" data-dismiss="modal") Proceed
    #wrap
      .landscape-container
        .landscape-left
          .landscape-header(style="background-image: url(/img/img-deer.jpg); background-repeat: no-repeat; background-size: 100%; height: 180px; position: relative;")
            .landscape-title(style="top: 134px; left: 8px; position: absolute; font-family: Verdana, Geneva, sans-serif; color: #daa520; font-size: 18px; font-weight: bold;") Formosan Landscape
          .ui-state-highlight.ui-corner-all(style="padding: 7px;") Filter by Visitors:
            span#landscape-currentRange
            #landscape-slider
          .ui-state-highlight.ui-corner-all(style="padding: 5px;") Zoom Level:
            input#landscape-spinner(value="8" readonly="readonly")
          #landscape-listing
        .landscape-right#landscape-map-container
          #landscape-map-canvas
        #tabs(style="display:none;")
          ul
            li
              a(href="#info") Info
            li
              a(href="#facilities") Facilities
            li
              a(href="#attractions") Attractions
      footer
        .container
          .clear &nbsp
          .row
            div
              include includes/share
            p
              | Copyright &copy; 2015 | Issues? Submit to&#32;
              a(href="https://github.com/seraph317/personal_website") Github
              | .
    script(type="text/javascript", src="/js/jquery.min.js")
    script(type="text/javascript", src="/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/jquery-ui.min.js")
    script(type="text/javascript", src="/js/modernizr.custom.57498.js")
    script(type="text/javascript", src="/js/maps.js")
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDaiHpfdztF_SN_O4UnOTPOPZlMiyp1JWI")
    script(type="text/javascript", src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js")