doctype html
html
  head
    title= appTitle
    script(type="text/javascript", src="/js/jquery.min.js")
    script(type="text/javascript", src="/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/jquery-ui.min.js")
    script(type="text/javascript", src="/js/share.js")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
    link(rel="stylesheet", href="/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/jquery-ui.min.css")
    link(rel="stylesheet", href="/css/theme.css")
    link(rel="stylesheet", href="/css/custom.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.0/bootstrap-social.min.css")
    block extraHeader
    meta(name="viewport", content="width=480, initial-scale=1")
  body
    #wrap
      .container
        div(style="background-color: rgba(0,0,0,0.05); padding-top: 10px;")
          img(src="img/Tiger.png" width="130px" height="64px" style="float: left; margin: 15px 20px auto 20px;") 
          h1.page-header= appTitle
        block page
        block header
          div
            include includes/menu
        block alert
          div.alert.alert-warning.hidden
        .content
          block content
    block footer
      hr
      footer
        .container(style="text-align: center; position: relative;")
          .clear &nbsp
          div
            include includes/contact
          .clear &nbsp
          div
            include includes/share
          p
            | Copyright &copy; 2015 | Issues? Submit to&#32;
            a(href="https://github.com/seraph317/personal_website") Github
            | .