doctype html
html
  head
    title= appTitle
    link(rel="shortcut icon" type="image/x-icon" href="/css/images/favicon.ico")
    link(rel="stylesheet" href="/css/foundation.min.css")
    link(rel="stylesheet" href="/css/foundation-icons.css")
    link(rel="stylesheet" href="/css/mobile.css")
    block extraHeader
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header.mobile-header
      .contain-to-grid.mobile-top-bar
        nav.top-bar(data-topbar)
          ul.title-area
            li.name.mobile-name
              h1
                a(href="#") Yung-Shun Chang's Personal Website
            li.toggle-topbar.menu-icon
              a(href="#") <span>Menu</span>
          section.top-bar-section
            ul.right
              li
                a(href="#profile") Profile
              li
                a(href="#portfolio") Portfolio
              li
                a(href="#webapps") Webapps
              li
                a(href="#blog") Blog
              li
                a(href="#gallery") Gallery
    .panel.accordion#profile(style="background-image:url('/img/background-new-york-small.jpg'); background-size: cover; background-attachment: fixed;")
      .row
        .accordion-header
          h2.title Spread Our Wings And Fly
          p.mobile-lead 
            | There's never been a more exciting time to be a front-end web developer. 
            br
            | With so many tools, flying beyond the limits of our imagination, on the Internet, we can build almost anything we want, 
            br
            | a central park, 
            br 
            | a metropolis, 
            br
            | a new world...
        .row
          a.button.success.radius.large.accordion-control(href="#") <span class="fi-torso"></span> Know More About Me
          .accordion-panel
            .panel.panel-success
              .row
                .small-6.medium-6.columns
                  img.profile-picture(src="/img/picture-04.jpg")
                .small-6.medium-6.columns
                  p Hello
            .panel-group#section-1 
              .panel.panel-success
                h2.panel-title <span class="fi-checkbox"></span> Skills
                .panel-collapse.collapse.in#collapse-1
                  .panel-body
                    table.table.table-bordered.table-striped
                      tbody
                        tr#front-end
                          td Front End 
                          td 
                            | <b>JavaScript</b>, jQuery, AngularJS
                            br
                            | <b>HTML</b>, Jade
                            br
                            | <b>CSS</b>, Responsive Web Design, jQuery UI, Bootstrap
                        tr#back-end
                          td Back End
                          td
                            | <b>Node.js</b>, Express.js
                            br
                            | MongoDB, Mongoose
                            br
                            | <b>Ruby on Rails</b>
                        tr
                          td General 
                          td <b>C++</b>, Python
                        tr#design
                          td Ohers
                          td <b>Photoshop</b>, <b>Git</b>, LaTex, IDL, Wolfram Mathematica, Matlab, Microsoft Office
            .panel-group#section-2
              .panel.panel-success
                h2.panel-heading <span class="fi-web"></span> Projects
                .panel-collapse.collapse.in#collapse-2
                  .panel-body
                    table.table.table-bordered.table-striped
                      tbody
                        tr
                          td 
                            a(href="http://yschang.herokuapp.com/") Personal Website
                          td 
                            | My personal website built with Node.js
                            br
                            a(href="https://github.com/seraph317/personal_website") See my codes at Github
                        tr
                          td 
                            a(href="/landscape") Formosan Landscape
                          td A web app introducing the natural wonders of Taiwan based on Google Maps API
                        tr
                          td 
                            a(href="/cosmos") Cosmos Wanderer
                          td Create a parallax scrolling website with skrollr.js
                        tr
                          td 
                            a(href="/insect") Insect World
                          td This website focuses on new CSS tricks, such as the flexible box layout and the :before and :after pseudo-elements
                        tr
                          td 
                            a(href="/evolution") Human Evolution
                          td Creative application of widgets from Bootstrap and jQuery UI makes website interactive
                        tr
                          td 
                            a(href="https://liuxiang.herokuapp.com/") Land Scrivener Service
                          td 
                            | The official site for Chuan-Min & Mei-Ing Land Scrivener Service Office
                            br
                            a(href="https://github.com/seraph317/land_scrivener_service") See my codes at Github
                        tr
                          td 
                            a(href="https://retransaction.herokuapp.com/") Real Estate Transaction
                          td 
                            | Map Taiwan's real estate transaction records (http://lvr.land.moi.gov.tw) with Google Maps
                            br
                            a(href="https://github.com/seraph317/real_estate_transaction") See my codes at Github
                        tr#quantum-computing
                          td Master Thesis
                          td Implementation of the Controlled-NOT Gate in Solid State Spin Quantum Computers Based on Dipole-dipole Interaction
            .panel-group#section-3
              .panel.panel-success
                h2.panel-heading <span class="fi-trophy"></span> Education
                .panel-collapse.collapse.in#collapse-3
                  .panel-body
                    table.table.table-bordered.table-striped
                      tbody
                        tr
                          td New York University
                          td 
                            | Master's degree in Engineering Physics/Applied Physics
                            br
                            | Scholarship: $4000 per semester
                            br
                            | Research: Quantum Computation and Information
                        tr
                          td Academia Sinica
                          td
                            | Research Assistant at Institute of Physics
                            br
                            | Labortory: Statistical Physics, Complexity and Biophysics
                        tr
                          td National Taiwan Universiy
                          td
                            | Bachelor's degree in Physics
                            br
                            | Presidential Awards, February and July 2006
                            br
                            | Activities: National Taiwan University Chinese Orchestra
    .panel.accordion#portfolio(style="background-image:url('/img/portfolio-header.jpg'); background-size: cover; background-attachment: fixed;")
      .row
        .accordion-header
          h2.title Keep going
          p.mobile-lead I am a front-end engineer writing most codes in JavaScript, HTML, and CSS, proficient in many JavaScript libraries, such as jQuery, jQuery UI, and Bootstrap. Before pursuing my master degree, I used to take the responsibility to build web applications for a company, named Liu-Xiang Commercial Real Estate, in Taiwan. Other than front-end UI techniques, I also have experiences building web applications with back-end development skills like MEAN stack (MongoDB, Express.js, AngularJS, and Node.js) and Ruby on Rails. My interests mainly lie in making responsive, dynamic and interactive user interface. 
        .row
          a.button.success.radius.large.accordion-control(href="#") <span class="fi-shopping-bag"></span> Portfolio
          .accordion-panel
            .panel.panel-success
              .row
                .small-12.medium-6.columns
                  .panel-portfolio#portfolio-1
                    a.portfolio(href="/landscape")
                      img.portfolio-img(src="img/img-deer.jpg")
                    .portfolio-title <span class="fi-mountains"></span> Formosan Landscape
                .small-12.medium-6.columns
                  .panel-portfolio#portfolio-2
                    a.portfolio(href="/cosmos")
                      img.portfolio-img(src="img/86839.jpg")
                    .portfolio-title <span class="fi-star"></span> Cosmos Wanderer
                .small-12.medium-6.columns
                  .panel-portfolio#portfolio-3
                    a.portfolio(href="/insect")
                      img.portfolio-img(src="img/insect-butterfly-1.jpg")
                    .portfolio-title <span class="fi-trees"></span> Insect World
                .small-12.medium-6.columns
                  .panel-portfolio#portfolio-4
                    a.portfolio(href="/evolution")
                      img.portfolio-img(src="img/238859.jpg")
                    .portfolio-title <span class="fi-torsos"></span> Human Evolution
                .small-12.medium-6.columns
                  .panel-portfolio#portfolio-5
                    a.portfolio(href="https://liuxiang.herokuapp.com/")
                      img.portfolio-img(src="img/46-NIGHT-VIEW.jpg")
                    .portfolio-title <span class="fi-home"></span> Land Scrivener Service
                .small-12.medium-6.columns
                  .panel-portfolio#portfolio-6
                    a.portfolio(href="https://retransaction.herokuapp.com/")
                      img.portfolio-img(src="img/Taiwan-Tower-night.jpg")
                    .portfolio-title <span class="fi-map"></span> Real Estate Transaction
    .panel.accordion#webapps(style="background-image: url('/img/background-dandelion-field-small.jpg'); background-size: cover; background-attachment: fixed;")
      .row
        .accordion-header
          h2.title Make a Wish & Blow a Dandelion
          p.mobile-lead
            | Little dandelion, 
            br 
            | let your heart keep time. 
            br 
            | Now the clouds are gone,
            br
            | all of your tomorrows shine.
        .row
          a.button.success.radius.large.accordion-control(href="#") <span class="fi-results"></span> Dynamic & Responsive UI
          .accordion-panel
            .panel.panel-success
              .row
                .medium-12.columns
                  .row
                    .small-12.medium-12.columns
                      h2 <span class="fi-puzzle"></span> Jigsaw Puzzle
                      hr
                    .small-12.medium-6.columns
                      a(href="/jigsaw-puzzle")
                        img(src="/img/jigsaw-puzzle.jpg" height="800" width="800" alt="Jigsaw Puzzle")
                    .small-12.medium-6.columns
                      p 
                        | I learned how to build a jigsaw puzzle game from Vijay Joshi's <a href="https://www.packtpub.com/web-development/mastering-jquery-ui">Mastering jQuery UI</a> book.
                        | This web app is an example of using jQuery UI's <a href="https://jqueryui.com/draggable/">draggable</a> and <a href="https://jqueryui.com/droppable/">droppable</a> components,
                        | but there are some more difficult parts while writing JavaScript, such as <b>creating slices using the CSS background-position property</b> and <b>defining the shuffle function</b>. 
                        | To make the game more interesting, I <b>display several images to users</b> and <b>allow them to select one image to be used with the puzzle</b>. These images include Leonardo da Vinci's
                        | Mona Lisa, Jacques-Louis David's Napoleon Crossing the Alps, and Pierre Auguste Cot's Spring.
                      p Skills: <b>jQuery</b>, <b>jQuery UI (draggable, droppable)</b>, JavaScript, HTML, CSS
            .panel.panel-success
              .row
                .medium-12.columns
                  .row
                    .small-12.medium-12.columns
                      h2 <span class="fi-compass"></span> Dashboard
                      hr
                    .small-12.medium-6.columns
                      a(href="/dashboard")
                        img(src="/img/dashboard.jpg" height="512" width="512" alt="dashboard")
                    .small-12.medium-6.columns
                      p 
                        | This web app was inspired by Vijay Joshi's <a href="https://www.packtpub.com/web-development/mastering-jquery-ui">Mastering jQuery UI</a> 
                        | published by Packt. It is a fully functional dashboard initializing its portlets based on jQuery UI's <a href="https://jqueryui.com/sortable/">sortable</a> component
                        | and also a practice of using multiple APIs, including <b>creating a weather widget</b> with <a href="https://developer.forecast.io/">the Dark Sky Forecast API</a>,
                        | <b>displaying Flickr photos</b> with <a href="https://www.flickr.com/services/api/">the Flickr API</a>, <b>displaying posts from the reddit front page</b> with <a href="https://www.reddit.com/dev/api">the Reddit API</a>.
                        | Furthermore, I also created <b>a JavaScript clock</b> to make it like a homepage dashboard.
                      p Skills: <b>jQuery</b>, <b>jQuery UI (sortable)</b>, <b>JavaScript (Ajax)</b>, <b>the Dark Sky Forecast API</b>, <b>the Flickr API</b>, <b>the Reddit API</b>, HTML, CSS
    .panel.accordion#blog(style="background-image: url('/img/background-tiger-small.jpg'); background-size: cover; ")
      .row
        .accordion-header
          h2.title Stay Hungry
          p.mobile-lead 
            | Learn from Nature's most ferocious, ambitious, and intelligent killers: 
            br 
            | Be courageous like a tiger, 
            br
            | tactful like a snake, 
            br 
            | steadfast like an elephant, 
            br
            | agile like a cheetah, 
            br
            | and cunning like a wolf. 
          h2.title Stay Foolish
          p.mobile-lead 
            | In tarot, the fool is numbered 0, 
            br 
            | the number represents unlimited potential.
        .row
          a.button.success.radius.large.accordion-control(href="#") <span class="fi-page-multiple"></span> Blog
          .accordion-panel
            .panel-group#article
    .panel.accordion#gallery(style="background-image: url('/img/picture-bronx-zoo.jpg'); background-size: cover;")
      .row
        .accordion-header
          h2.title Stay Cool and be Awesome
          p.mobile-lead The most awesome web application in the galaxy.
        .row
          a.button.success.radius.large.accordion-control(href="#") <span class="fi-photo"></span> Gallery
          .accordion-panel
            .slider
              .slide-viewer
                .slide-group
                  .slide.slide-1
                    img(src="/img/picture-08.jpg" alt="Washington Square Park")
                  .slide.slide-2
                    img(src="/img/picture-12.jpg" alt="Plattsburgh")
                  .slide.slide-3
                    img(src="/img/picture-14.jpg" alt="Macy's")
                  .slide.slide-4
                    img(src="/img/picture-15.jpg" alt="Roosevolt Island")
                  .slide.slide-5
                    img(src="/img/picture-16.jpg" alt="Empire State Building")
                  .slide.slide-6
                    img(src="/img/picture-17.jpg" alt="Mission Peak")
              .slide-buttons
    .row(style="text-align: center;")
      h2 <span class="fi-comment"></span> Message Me
      form.small-12.columns#contact(method="post" action="/contact")
        .row
          .small-6.columns
            input.form-control#name(type="text" name="name" placeholder="Name")
          .small-6.columns
            input.form-control#email(type="email" name="email" placeholder="Email")
        .row
          .small-12.columns
            input.form-control#subject(type="text" name="subject" placeholder="Subject")
        .row
          .small-12.columns
            textarea#message(name="message" placeholder="Message" rows="6" style="width: 100%;")
        .row
          .small-12.columns
            input.button.success.radius.large#send-mail(type="submit" name="submit" value="Send Mail" style="width: 100%;")
        span#message
    script(type="text/javascript" src="/js/jquery.min.js")
    script(type="text/javascript" src="/js/foundation.min.js")
    script(type="text/javascript" src="/js/accordion.js")
    script(type="text/javascript" src="/js/decode.js")
    script(type="text/javascript" src="/js/slider.js")
    script $(document).foundation();
          