doctype html
html
  head
    title= "Portfolio"
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/jasny-bootstrap.min.css")
    link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
    link(rel="stylesheet", href="/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/jquery-ui.min.css")
    link(rel="stylesheet", href="/css/theme.css")
    link(rel="stylesheet", href="/css/portfolio.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.0/bootstrap-social.min.css")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    #wrap
        nav.navmenu.navmenu-inverse.navmenu-fixed-right.offcanvas.portfolio-menu#menu(role="navigation")
          ul.nav.navmenu-nav
            li.active
              a(href="#") <span style="font-size: 28px;">Portfolio</span>
            li
              a(href="/") <span class="glyphicon glyphicon-user"></span> Personal Website
            li
              a(href="/landscape") <span class="glyphicon glyphicon-camera"></span> Formosan Landscape  
            li  
              a(href="/cosmos") <span class="glyphicon glyphicon-star"></span> Cosmos Wanderer
            li
              a(href="/insect") <span class="glyphicon glyphicon-leaf"></span> Insect World
            li
              a(href="/evolution") <span class="glyphicon glyphicon-hourglass"></span> Human Evolution
            li
              a(href="https://liuxiang.herokuapp.com/") <span class="glyphicon glyphicon-home"></span> Land Scrivener Service
            li
              a(href="https://retransaction.herokuapp.com/") <span class="glyphicon glyphicon-map-marker"></span> Real estate transaction
        .navbar.navbar-default.navbar-portfolio.portfolio-topbar(style="position: absolute; top: 0; right: 0; background-color: #000000; border: none;")
          a.button.navbar-toggle(type="button" data-toggle="offcanvas" data-target="#menu" data-canvas="body")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #portfolio-roller
        .portfolio-header#portfolio-paper
          .animated.zoomIn(style="font-size: 32px; margin-top: 45px; opacity: 0.9;") <span class="glyphicon glyphicon-user"></span> Yung-Shun Chang
          #portfolio-summary
            p#one
        .panel-group(style="text-align: center; position: relative; background-image: url(/img/02.jpg); image-size: 100%; height: 740px; background-repeat: repeat; padding-top: 3px;")
          div(style="font-size: 32px; line-height: 36px; margin: 20px auto 20px auto; color: #ffffff; opacity: 0.9;") <span class="glyphicon glyphicon-briefcase"></span> Portfolio
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            .panel.panel-default.fadeIn#portfolio-1
              .panel-body
                a.portfolio(href="/landscape")
                  img.portfolio-img(src="img/img-deer.jpg" height="100%" width="100%")
                .portfolio-title <span class="glyphicon glyphicon-camera"></span> Formosan Landscape
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            .panel.panel-default.fadeIn#portfolio-2
              .panel-body
                a.portfolio(href="/cosmos")
                  img.portfolio-img(src="img/86839.jpg" height="100%" width="100%")
                .portfolio-title <span class="glyphicon glyphicon-star"></span> Cosmos Wanderer
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            .panel.panel-default.fadeIn#portfolio-3
              .panel-body
                a.portfolio(href="/insect")
                  img.portfolio-img(src="img/insect-butterfly-1.jpg" height="100%" width="100%")
                .portfolio-title <span class="glyphicon glyphicon-leaf"></span> Insect World
          .clear &nbsp
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            .panel.panel-default.fadeIn#portfolio-4
              .panel-body
                a.portfolio(href="/evolution")
                  img.portfolio-img(src="img/238859.jpg" height="100%" width="100%")
                .portfolio-title <span class="glyphicon glyphicon-hourglass"></span> Human Evolution
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            .panel.panel-default.fadeIn#portfolio-5
              .panel-body
                a.portfolio(href="https://liuxiang.herokuapp.com/")
                  img.portfolio-img(src="img/46-NIGHT-VIEW.jpg" height="100%" width="100%")
                .portfolio-title <span class="glyphicon glyphicon-home"></span> Land Scrivener Service
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            .panel.panel-default.fadeIn#portfolio-6
              .panel-body
                a.portfolio(href="https://retransaction.herokuapp.com/")
                  img.portfolio-img(src="img/Taiwan-Tower-night.jpg" height="100%" width="100%")
                .portfolio-title <span class="glyphicon glyphicon-map-marker"></span> Real Estate Transaction
      .clear &nbsp
      footer
        .container(style="text-align: center; position: relative;")
          .clear &nbsp
          div
            include includes/contact
          .clear &nbsp
          div
            include includes/share
          p
            | Copyright &copy; 2015 | Issues? Submit to&#32;
            a(href="https://github.com/seraph317/personal_website") Github
            | .
      script(type="text/javascript", src="/js/jquery.min.js")
    script(type="text/javascript", src="/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/jasny-bootstrap.min.js")
    script(type="text/javascript", src="/js/jquery-ui.min.js")
    script(type="text/javascript", src="/js/modernizr.custom.57498.js")
    script(type="text/javascript", src="/js/typewriter.js")
    script(type="text/javascript", src="/js/hover.js")  