extends layout

block page
  - var menu = 'profile'
block content
  #dialog
  h2 <span class="glyphicon glyphicon-user"></span> Yung-Shun Chang
  hr
  .col-lg-1.col-md-1.col-sm-1.col-xs-1
    button.btn.btn-success#startTour(type="submit") <span class="glyphicon glyphicon-play"></span> TOUR
  .col-lg-1.col-md-1.col-sm-1.col-xs-1
    .scroll-down
      a.btn.btn-success#contact(href="#") <span class="glyphicon glyphicon-envelope"></span> CONTACT
  .clear &nbsp
  .panel-group#accordion
    .col-lg-14.col-md-14.col-sm-14.col-xs-14#section-1 
      .panel.panel-success
        .panel-heading
          h4.panel-title
            a(href="#collapse-1" data-toggle="collapse" data-parent="#accordion") SKILLS
        .panel-collapse.collapse.in#collapse-1
          .panel-body
            table.table.table-bordered.table-striped
              tbody
                tr#front-end
                  td Front End 
                  td 
                    | <b>JavaScript</b>, jQuery, AngularJS
                    br
                    | <b>HTML</b>, Jade
                    br
                    | <b>CSS</b>, Responsive Web Design, jQuery UI, Bootstrap
                tr#back-end
                  td Back End
                  td
                    | <b>Node.js</b>, Express.js
                    br
                    | MongoDB, Mongoose
                    br
                    | <b>Ruby on Rails</b>
                tr
                  td General 
                  td <b>C++</b>, Python
                tr#design
                  td Ohers
                  td <b>Photoshop</b>, <b>Git</b>, LaTex, IDL, Wolfram Mathematica, Matlab, Microsoft Office
    .col-lg-14.col-md-14.col-sm-14.col-xs-14#section-2
      .panel.panel-success
        .panel-heading
          h4.panel-title
            a(href="#collapse-2" data-toggle="collapse" data-parent="#accordion") PROJECTS
        .panel-collapse.collapse.in#collapse-2
          .panel-body
            table.table.table-bordered.table-striped
              tbody
                tr
                  td 
                    a(href="http://yschang.herokuapp.com/") Personal Website
                  td 
                    | My personal website built with Node.js
                    br
                    a(href="https://github.com/seraph317/personal_website") See my codes at Github
                tr
                  td 
                    a(href="/landscape") Formosan Landscape
                  td A web app introducing the natural wonders of Taiwan based on Google Maps API
                tr
                  td 
                    a(href="/cosmos") Cosmos Wanderer
                  td Create a parallax scrolling website with skrollr.js
                tr
                  td 
                    a(href="/insect") Insect World
                  td This website focuses on new CSS tricks, such as the flexible box layout and the :before and :after pseudo-elements
                tr
                  td 
                    a(href="/evolution") Human Evolution
                  td Creative application of widgets from Bootstrap and jQuery UI makes website interactive
                tr
                  td 
                    a(href="https://liuxiang.herokuapp.com/") Land Scrivener Service
                  td 
                    | The official site for Chuan-Min & Mei-Ing Land Scrivener Service Office
                    br
                    a(href="https://github.com/seraph317/land_scrivener_service") See my codes at Github
                tr
                  td 
                    a(href="https://retransaction.herokuapp.com/") Real Estate Transaction
                  td 
                    | Map Taiwan's real estate transaction records (http://lvr.land.moi.gov.tw) with Google Maps
                    br
                    a(href="https://github.com/seraph317/real_estate_transaction") See my codes at Github
                tr#quantum-computing
                  td Master Thesis
                  td Implementation of the Controlled-NOT Gate in Solid State Spin Quantum Computers Based on Dipole-dipole Interaction
    .col-lg-14.col-md-14.col-sm-14.col-xs-14#section-3
      .panel.panel-success
        .panel-heading
          h4.panel-title
            a(href="#collapse-3" data-toggle="collapse" data-parent="#accordion") EDUCATION
        .panel-collapse.collapse.in#collapse-3
          .panel-body
            table.table.table-bordered.table-striped
              tbody
                tr
                  td New York University
                  td 
                    | Master's degree in Engineering Physics/Applied Physics
                    br
                    | Scholarship: $4000 per semester
                    br
                    | Research: Quantum Computation and Information
                tr
                  td Academia Sinica
                  td
                    | Research Assistant at Institute of Physics
                    br
                    | Labortory: Statistical Physics, Complexity and Biophysics
                tr
                  td National Taiwan Universiy
                  td
                    | Bachelor's degree in Physics
                    br
                    | Presidential Awards, February and July 2006
                    br
                    | Activities: National Taiwan University Chinese Orchestra
  script(type="text/javascript", src="/js/tour.js")
  script(type="text/javascript", src="/js/scroll-down.js")