doctype html
html
  head
    title= "Portfolio"
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/jquery-ui.min.css")
    link(rel="stylesheet", href="/css/theme.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.0/bootstrap-social.min.css")
    link(rel="stylesheet", href="/css/technology.css")

    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  body
    header
      h1 Technology Camp
      nav
        a(href="ajax/home.html") Home
        a(href="ajax/route.html") Route
        a(href="ajax/toys.html") Toys
        a.current(href="/technology") Timetable

    section#content
      .container
        h2 Join our camp!
        .timetable
          .third#event
            a#ca(href="#")
                img(src="img/02.jpg" alt="San Francisco") 
                p San Francisco, CA
            a#ny(href="#")
                img(src="img/03.jpg" alt="New York")
                p New York, NY
            a#tw(href="#")
                img(src="img/04.jpg" alt="Taipei") 
                p Taipei, Taiwan
          .third#sessions
            p Select an event from the left
          .third#details
            
    script(type="text/javascript", src="/js/jquery.min.js")
    script(type="text/javascript", src="/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/jquery-ui.min.js")
    script(type="text/javascript", src="/js/modernizr.custom.57498.js")
    script(type="text/javascript", src="/js/load.js")
    script(type="text/javascript", src="/js/hover.js")
    script(type="text/javascript", src="/js/share.js")