extends layout

block extraHeader
  link(rel="stylesheet", href="/css/monokai_sublime.css")
  script(type="text/javascript", src="/js/highlight.pack.js")
  script hljs.initHighlightingOnLoad();
block page
  - var menu = 'blog'
block content
  h2 <span class="glyphicon glyphicon-education"></span> UVa Online Judge
  hr
  .panel-group
  .col-lg-14.col-md-14.col-sm-14.col-xs-14
      .panel.panel-default
        .panel-body(style="min-height: 200px; max-height: 10;")
          div(style="margin-top: -20px;")
            h2 UVa 10114 - Loansome Car Buyer
            p Time limit: 3.000 seconds 
            embed(src="/pdf/10114.pdf" width="100%" height="360" type="application/pdf")
            h3 <span class="glyphicon glyphicon-check"></span> Solution
            pre
              code.cpp(style="margin-top: 0;")
                | // UVa 10114 - Loansome Car Buyer
                | // calculate the first month that a car buyer owes less money than a car is worth
                | # include &lt;iostream&gt;
                | # include &lt;vector&gt;
                | # include &lt;cstdio&gt;
                | using namespace std;
                | 
                | int main() {
                |     // Each loan consists of the duration of the loan, the down payment, the amount of the loan, and the number of depreciation records
                |     int durLoan;
                |     while (cin &gt;&gt; durLoan) {
                |         // The end of input is signalled by a negative loan duration
                |         if (durLoan &lt; 0) break;
                |         double downPayment, amountLoan;
                |         int numDepreciationRecords;
                |         cin &gt;&gt; downPayment &gt;&gt; amountLoan &gt;&gt; numDepreciationRecords;
                |         // Loans are at most 100 months long
                |         vector&lt;double&gt; depreciationRecords(100);
                |         // Each depreciation record consists of a month number and depreciation percentage
                |         while (numDepreciationRecords--) {
                |             int monthNum;
                |             double depreciationPercentage;
                |             cin &gt;&gt; monthNum &gt;&gt; depreciationPercentage;
                |             // If a month is not listed, then the previous depreciation percentage applies
                |             for (int i = monthNum; i &lt; 100; i++) depreciationRecords[i] = depreciationPercentage;
                |         }
                |         int numCompleteMonths = 0;
                |         // The value of the car after the buyer drives off the lot
                |         double valCar = (amountLoan + downPayment) * (1 - depreciationRecords[0]);
                |         double paymentPerMonth = amountLoan / durLoan;
                |         // Find &quot;numCompleteMonths&quot; when &quot;valCar &gt; amountLoan&quot;
                |         while (valCar &lt; amountLoan) {
                |             numCompleteMonths++;
                |             amountLoan -= paymentPerMonth;
                |             valCar *= 1 - depreciationRecords[numCompleteMonths];
                |         }
                |         // English requires plurals on all values other than 1
                |         if (numCompleteMonths == 1) printf(&quot;1 month\n&quot;);
                |         else printf(&quot;%d months\n&quot;, numCompleteMonths);
                |     }
                |     return 0;
                | }
  .col-lg-14.col-md-14.col-sm-14.col-xs-14
      .panel.panel-default
        .panel-body(style="min-height: 200px; max-height: 10;")
          div(style="margin-top: -20px;")
            h2 UVa 11727 - Cost Cutting
            p Time limit: 1.000 seconds 
            embed(src="/pdf/11727.pdf" width="100%" height="360" type="application/pdf")
            h3 <span class="glyphicon glyphicon-check"></span> Solution
            pre
              code.cpp(style="margin-top: 0;")
                | // UVa 11727 - Cost Cutting 
                | // Lay-off the person who gets the most salary and the one who gets the least among three employees 
                | # include &lt;iostream&gt; 
                | # include &lt;vector&gt; 
                | # include &lt;algorithm&gt; 
                | # include &lt;cstdio&gt; 
                | using namespace std; 
                | int main() { 
                |     // T = the number of test cases 
                |     int T; 
                |     vector&lt;int&gt; employeeSalaries(3);
                |     cin &gt;&gt; T;
                |     for (int CaseNum = 0; CaseNum &lt; T; CaseNum++) { 
                |         // Input the salaries into the vector and sort them, then print the medium one 
                |         cin &gt;&gt; employeeSalaries[0] &gt;&gt; employeeSalaries[1] &gt;&gt; employeeSalaries[2]; 
                |         sort(employeeSalaries.begin(), employeeSalaries.end()); 
                |         printf(&quot;Case %d: %d\n&quot;, CaseNum + 1, employeeSalaries[1]); 
                |     } 
                |     return 0; 
                | }
  .col-lg-14.col-md-14.col-sm-14.col-xs-14
      .panel.panel-default
        .panel-body(style="min-height: 200px; max-height: 10;")
          div(style="margin-top: -20px;")
            h2 UVa 11498 - Division of Nlogonia
            p Time limit: 1.000 seconds
            embed(src="/pdf/11498.pdf" width="100%" height="360" type="application/pdf")
            h3 <span class="glyphicon glyphicon-check"></span> Solution
            pre
              code.cpp(style="margin-top: 0;")
                | // UVa 11498 - Division of Nlogonia 
                | // Given the coordinates of the division point, decide which quadrant a residence locate
                | # include &lt;iostream&gt;
                | # include &lt;cstdio&gt;
                | using namespace std; 
                | 
                | int main(){ 
                |     // K = the number of queries that will be made
                |     // N, M = the coordinates of the division point
                |     // X, Y = the coordinates of a residence 
                |     int K, N, M, X, Y; 
                |     while (cin &gt;&gt; K) { 
                |         // Type 0 to end 
                |         if (K == 0) break;
                |         cin &gt;&gt; N &gt;&gt; M;
                |         while (K--) {
                |             cin &gt;&gt; X &gt;&gt; Y;
                |             // Output &quot;NO&quot;, &quot;NE&quot;, &quot;SE&quot;, &quot;SO&quot;, or &quot;divisa&quot; 
                |             if (X &lt; N &amp; Y &gt; M) printf(&quot;NO\n&quot;);
                |             else if (X &gt; N &amp; Y &gt; M) printf(&quot;NE\n&quot;);
                |             else if (X &gt; N &amp; Y &lt; M) printf(&quot;SE\n&quot;);
                |             else if (X &lt; N &amp; Y &lt; M) printf(&quot;SO\n&quot;);
                |             else printf(&quot;divisa\n&quot;);
                |         }
                |     }
                |     return 0;
                | }
  .col-lg-14.col-md-14.col-sm-14.col-xs-14
      .panel.panel-default
        .panel-body(style="min-height: 200px; max-height: 10;")
          div(style="margin-top: -20px;")
            h2 UVa 11172 - Relational Operator
            p Time limit: 3.000 seconds
            embed(src="/pdf/11172.pdf" width="100%" height="360" type="application/pdf")
            h3 <span class="glyphicon glyphicon-check"></span> Solution
            pre
              code.cpp(style="margin-top: 0;")
                | // UVa 11172 - Relational Operator 
                | // Given two numerical values, find out the relationship between them is &quot;&gt;&quot;, &quot;&lt;&quot;, or &quot;=&quot; 
                | #include &lt;iostream&gt; 
                | #include &lt;cstdio&gt; 
                | using namespace std; 
                | 
                | int main(){ 
                |     // t = how many sets of inputs are there 
                |     // a, b = two integers that will be compared 
                |     int t, a, b; 
                |     cin &gt;&gt; t; 
                |     // Output &quot;&gt;&quot;, &quot;&lt;&quot;, or &quot;=&quot; 
                |     while (t--) { 
                |         cin &gt;&gt; a &gt;&gt; b;
                |         if (a &gt; b) printf(&quot;&gt;\n&quot;);
                |         else if (a &lt; b) printf(&quot;&lt;\n&quot;); 
                |         else printf(&quot;=\n&quot;); 
                |     } 
                |     return 0; 
                | } 
  script(type="text/javascript", src="/js/fixed-menu.js")
