extends layout

block page
  - var menu = 'webapps'
block content
  h2 <span class="glyphicon glyphicon-tasks"></span> Web Apps
  hr
  .panel-group
    .col-lg-14.col-md-14.col-sm-14.col-xs-14#column-1
      .panel.panel-default
        .panel-body
          h2(style="margin-top: 0px;") <span class="glyphicon glyphicon-dashboard"></span> Dashboard
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-6
              a(href="/dashboard")            
                img#dashboard(src="img/dashboard.jpg" style="width: 661px; height: 591px; margin-left: 40px; opacity: 0.6;")
            .col-lg-4.col-md-4.col-sm-4.col-xs-4(style="margin-left: 160px; line-height: 1.6em; font-size: 16px;")
              h3 <span class="glyphicon glyphicon-star"></span> Inspiration
              p 
                | This web app was inspired by Vijay Joshi's <a href="https://www.packtpub.com/web-development/mastering-jquery-ui">Mastering jQuery UI</a> 
                | published by Packt. It is a fully functional dashboard initializing its portlets based on jQuery UI's <a href="https://jqueryui.com/sortable/">sortable</a> component
                | and also a practice of using multiple APIs, including <b>creating a weather widget</b> with <a href="https://developer.forecast.io/">the Dark Sky Forecast API</a>,
                | <b>displaying Flickr photos</b> with <a href="https://www.flickr.com/services/api/">the Flickr API</a>, <b>displaying posts from the reddit front page</b> with <a href="https://www.reddit.com/dev/api">the Reddit API</a>.
                | Furthermore, I also created <b>a JavaScript clock</b> to make it like a homepage dashboard.
              h3 <span class="glyphicon glyphicon-tag"></span> Skills
              p
                | <b>jQuery</b>, <b>jQuery UI (sortable)</b>, <b>JavaScript (Ajax)</b>, <b>the Dark Sky Forecast API</b>, <b>the Flickr API</b>, <b>the Reddit API</b>, HTML, CSS
          .scroll-down.col-lg-1.col-md-1.col-sm-1.col-xs-1.col-centered
            a#column-2(href="#") <span class="glyphicon glyphicon-chevron-down glyphicon-scroll-down" aria-hidden="true"></span>
    .col-lg-14.col-md-14.col-sm-14.col-xs-14#column-2
      .panel.panel-default
        .panel-body
          h2(style="margin-top: 0px; margin-bottom: 13px;") <span class="glyphicon glyphicon-th"></span> Jigsaw Puzzle
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-6
              a(href="/jigsaw-puzzle")
                img#jigsaw-puzzle(src="img/jigsaw-puzzle.jpg" style="width: 661px; height: 591px; margin-left: 40px; opacity: 0.6;")
            .col-lg-4.col-md-4.col-sm-4.col-xs-4(style="margin-left: 160px; line-height: 1.6em; font-size: 16px;")
              h3 <span class="glyphicon glyphicon-star"></span> Inspiration
              p
                | I learned how to build a jigsaw puzzle game from Vijay Joshi's <a href="https://www.packtpub.com/web-development/mastering-jquery-ui">Mastering jQuery UI</a> book.
                | This web app is an example of using jQuery UI's <a href="https://jqueryui.com/draggable/">draggable</a> and <a href="https://jqueryui.com/droppable/">droppable</a> components,
                | but there are some more difficult parts while writing JavaScript, such as <b>creating slices using the CSS background-position property</b> and <b>defining the shuffle function</b>. 
                | To make the game more interesting, I <b>display several images to users</b> and <b>allow them to select one image to be used with the puzzle</b>. These images include Leonardo da Vinci's
                | Mona Lisa, Jacques-Louis David's Napoleon Crossing the Alps, and Pierre Auguste Cot's Spring.
              h3 <span class="glyphicon glyphicon-tag"></span> Skills
              p
                | <b>jQuery</b>, <b>jQuery UI (draggable, droppable)</b>, JavaScript, HTML, CSS
          .clear &nbsp
  script(type="text/javascript", src="/js/fixed-menu.js")
  script(type="text/javascript", src="/js/scroll-down.js")
  script(type="text/javascript", src="/js/enlarge.js")